[2017-04-18 03:59] arkhamvm opened #1 "Setting for main-image div size"
Hello, thanks for awesome plugin!
I need to set up gallery like this:
![gallery](https://cloud.githubusercontent.com/assets/9816112/25114258/b618bb28-2440-11e7-8978-6cdccaf4340b.png)

But how i can main image (red line) width, instead of set gallery (blue line) width?
`imagePercent` setting doest help with width.

[2017-04-18 04:02] arkhamvm opened #2 "Setting for closing full-image preview by clicking on black wrapper"
Hello, thanks for awesome plugin!
I need to closing preview by clicking on preview wrapper, is there a setting to do this?

[2017-04-18 07:24] lukasz-galka commented on #2
Hi, I have added option 'previewCloseOnClick' in version 0.7.2

[2017-04-18 07:30] lukasz-galka commented on #1
At this moment you can achieve this by using transparent border

[code]

later I will think about some setting/option.

[2017-04-18 08:11] arkhamvm commented on #1
@lukasz-galka, border isn't a good solution, cause backgorund image will cropped. I resized image to needed width/height and change styles like this:
[code]

[2017-04-18 08:16] arkhamvm commented on #2
Great, thanks!
But looks like error here:
[code]

Full stack:
[code]

[2017-04-19 08:50] lukasz-galka commented on #1
@arkhamvm ok, now I understand your problem. I will try to make this as option

[2017-04-19 10:50] lukasz-galka commented on #1
@arkhamvm In version 0.8.0 I have added new option "imageSize" and enum:

NgxGalleryImageSize
- Cover (default)
- Contain

[2017-04-20 05:57] #2 closed

[2017-04-20 05:57] #1 closed

[2017-04-20 08:52] arkhamvm commented on #1
Great, thx!

[2017-04-25 07:22] arkhamvm opened #3 "Infinity scroll/slide"
Hi.
How i can to set option to scrolling main/thumb images infinitely?

[2017-04-25 07:34] lukasz-galka commented on #3
Hi, currently there is no option for that. I will try to add this as new feature.

[2017-04-25 07:47] arkhamvm commented on #3
Ok, thx. i'll be waiting it.

[2017-05-02 02:19] pqzada opened #4 "¿How can i load images from a server? Async"
I'm trying to load images from another server vía service, but i cant.
Is there any way to do this?

[2017-05-02 10:13] lukasz-galka commented on #4
Do you have some error? Could you give code example?

[2017-05-02 14:35] pqzada commented on #4
Yes, this is the error.

Error: Error in ./FichaComponent class FichaComponent - inline template:8:38 caused by: Cannot read property 'map' of undefined

The component code is this:

[code]

And the template line is

`<ngx-gallery [options]="galOpt" [images]="galImg"></ngx-gallery>`

I know that the problem is caused because when the gallery is created the galleryImages is undefined. But, i don't

[2017-05-02 21:02] moshecmc opened #5 "breakpoint destroys settings"
Hello,

I've been using your gallery for my project, and it works great!

I've noticed that

      this.galleryOptions = [
          {
             breakpoint: 800
          }
    ];

doesn't work. In fact, when combined with other settings, none of them apply.

[2017-05-02 21:04] moshecmc opened #6 "Ability to watch for changes"
Hello,
Instead of having to inject the gallery component into my parent component, and appending

                                    this.gallery.smallImages = this.galleryImages.map(img => img.small);
                                    this.gallery.mediumImages = this.galleryImages.map(img => img.medium);
                                    this.gallery.bigImages = this.galleryImages.map(img =>

[2017-05-03 08:46] lukasz-galka commented on #4
Hi, you have two options

1. Validate galImg with *ngIf
`<ngx-gallery *ngIf="galImg && galImg.length" [options]="galOpt" [images]="galImg"></ngx-gallery>`

2. Write resolver as decribed here https://blog.thoughtram.io/angular/2016/10/10/resolving-route-data-in-angular-2.html#resolvers-with-dependencies

If you have any problems let me know.

[2017-05-03 09:21] lukasz-galka commented on #5
Hi, could you give me more info? Maybe some real example?

[2017-05-03 13:02] lukasz-galka commented on #6
Hi, please check version 0.8.1

[2017-05-03 13:04] lukasz-galka commented on #4
I fixed this issue https://github.com/lukasz-galka/ngx-gallery/issues/6 in version 0.8.1 and this should fix also your issue.

[2017-05-03 15:00] moshecmc commented on #5
Lukasz,

 this.galleryOptions = [
            {
                breakpoint: 960,
                thumbnailsColumns: 3,
                width: '95%',
                height: '90%'
            },
            {
                width: '52vw',
                height: '90vh',
                thumbnailsColumns: 6,
                thumbnailsRows: 2,
                imageAnimation: NgxGalleryAnimation.Fade

[2017-05-03 15:36] moshecmc commented on #6
HI, I checked version 0.8.1 and I am not sure what am I to do, I update galleryImages, but nothing happens.

[2017-05-03 17:55] lukasz-galka commented on #6
I have added example "14. Change Images" on demo page https://lukasz-galka.github.io/ngx-gallery-demo/ and as you can see everything is working fine.

You can check code for demo page here https://github.com/lukasz-galka/ngx-gallery-demo and here is app component https://github.com/lukasz-galka/ngx-gallery-demo/blob/master/src/app/app.component.ts

Maybe try to uninstall and install plugin again?

[2017-05-03 18:15] moshecmc commented on #6
I tried reinstalling the plug-in, I cleared my cache, I rebuilt the project. Gallery doesn't update.

I do this throughout my code:

[code]

and I run this:

[code]
immediately after, otherwise the gallery will not update.

[2017-05-04 17:47] lukasz-galka commented on #6
Yes, you are right, it is not working for push/unset or replace. It is because of angular change detection:

"During change detection, when Angular checks components' input properties for change, it uses (essentially) === for dirty checking. For arrays, this means the array references (only) are dirty checked."

from http://stackoverflow.com/a/34799257/5946227

I will take a look on ngDoCheck http

[2017-05-04 17:50] moshecmc commented on #6
As you can see my use case does require checks to see if the array has been pushed/unset, or had elements replaced. Is there a temporary workaround for this issue?

Thanks

[2017-05-04 18:01] lukasz-galka commented on #6
As described here http://stackoverflow.com/a/34799257/5946227

"Assign a new array to rawLapsData whenever you make any changes to the array contents. Then ngOnChanges() will be called because the array (reference) will appear as a change."

You have to create new array on every push/unset/update. For example:

This will not work:
[code]

but this should work:

[code]

[2017-05-04 18:20] moshecmc commented on #6
Thank you so much for fixing this issue!

[2017-05-04 21:10] pqzada commented on #4
Thanks you man! I implement the solution posted in the issue #6 and work!
Thanks a lot!

[2017-05-04 21:11] #4 closed

[2017-05-06 08:09] #6 closed

[2017-05-13 22:34] Ermenymw opened #7 "Where should I import hammarjs?"
Hi, Lukasz
   I'm new to Angular2. Where should I add the import "hammerjs";? And do I need to import like:
import { Hammerjs } from 'hammerjs';
   Currently I can make the slide show work, but the hammer gestures and arrows are not applied.

[2017-05-13 23:53] Ermenymw commented on #7
I found out the solution to add the hammerjs import to "polyfills.ts" file

[2017-05-13 23:56] Ermenymw opened #8 "Guide in usage has some errors"
app.component.ts
I think we should import "OnInit" from '@angular/core' not from 'ngx-gallery'

[2017-05-14 00:02] Ermenymw opened #9 "Can't change default width and height"
Hi, Lukasz
    I can't find a way to change the default width and height. No matter what number I change the pixel for both parameters, they won't change anything in browser.
      this.galleryOptions = [
        {
          "previewFullscreen": true,
          "imageArrowsAutoHide": true,
         },
        {
          "breakpoint": 500,
          "width": "800px",     <---------I tried to chang

[2017-05-14 16:23] lukasz-galka commented on #7
Hi, you should import hammerjs in component, which is using gallery.

[code]

[2017-05-14 16:31] lukasz-galka commented on #8
thanks!

[2017-05-14 18:07] lukasz-galka commented on #9
Hi, breakpoints are working just like css media query 'max-width'
https://www.w3schools.com/css/css_rwd_mediaqueries.asp

I have created simple demo with your configuration (I only changed width from 800px to 300px for breakpoint 500). You can resize browser or use chrome console to see this in action.
https://lukasz-galka.github.io/ngx-gallery-demo/custom#responsive-1

And in my opinion everythin

[2017-05-14 23:17] Ermenymw commented on #9
Got it, thankx for explanation. Now I realize what the three brace do. And one more question, what will "thumbnailsColumns": do it above two braces? I am assuming when browser is smaller than 500px and bigger than 300px, it will have 5 columns of thumbnails image and four when is smaller than 300px. While it never changes in my project.

[2017-05-14 23:19] Ermenymw commented on #7
I tried to add this import in component file, it gives error of "invalid character". I think we should import it in "polyfills.ts" file and it works for me.

[2017-05-15 09:57] #8 closed

[2017-05-15 13:52] m2017atTR opened #10 "how to make full screen when using inner component."
Dunno is this question has a weight , but

how to make full screen when using inner component.
In may app situation is like

[code]

[2017-05-15 14:01] lukasz-galka commented on #10
Hi, could you give more info or example? Are you talking about fullscreen option or maybe about browser width?

[2017-05-15 19:12] lukasz-galka commented on #10
I have added option 'fullWidth', you can see how it works here
https://lukasz-galka.github.io/ngx-gallery-demo/#fullwidth

let me know if it helps

[2017-05-16 05:57] m2017atTR commented on #10
Hi ,
and thanks for replay,

I am using Angular 4 + Angular material 2

So there is Module and component and Material 2 styles.

this.galleryOptions = [
            {
                "previewFullscreen": true,
                "imageArrowsAutoHide": true, "thumbnailsArrowsAutoHide": true,
                "preview": true,
                "thumbnailsColumns": 3, "thumbnailsRows": 2, "thumbnailsPercen

[2017-05-16 06:05] lukasz-galka commented on #10
Ok, now I understand your problem. I will try to fix it at evening.

[2017-05-16 09:15] lukasz-galka commented on #9
Yes, you are right about 'thumbnailsCount'. Could you check on demo?
https://lukasz-galka.github.io/ngx-gallery-demo/custom#responsive-1

I have checked my demo and it works just as you described.

[2017-05-16 09:17] lukasz-galka commented on #7
That is strange, I am putting always in component and it works. Could you show me how are you importing hammerjs in component and error message?

[2017-05-16 17:30] lukasz-galka commented on #10
Preview has positon fixed (ledt/top 0px), so element is positioned relative to the browser window.

There are two options for behaviour described by you
1) your content is in iframe and we can't do anything with this - iframe is creating context for fixed position
2) one of gallery parents have 'webkit-transform: translate3d(0,0,0)' and this parent as described here http://stackoverflow.com/a/3685

[2017-05-17 06:43] m2017atTR commented on #10
Oh , ok
I ll give a try as soon as possible.

thanks for guidance...

[2017-05-24 15:20] #7 closed

[2017-05-24 15:20] #9 closed

[2017-05-24 15:20] #5 closed

[2017-05-24 15:21] #10 closed

[2017-06-05 04:48] mowaiskalam opened #11 "Ability to swipe images by keyboard"
Hi,

I am using this plugin and it's working great. But i am stuck at one position, i need to swipe images next or previous by keyboard arrow buttons when image are open by click, is it possible ? Please let me know, what i have to do if i want to implement this feature.

Thanks

[2017-06-05 08:27] lukasz-galka commented on #11
Hi, please check version `0.8.5` and option `previewKeyboardNavigation`
You can see this in action here https://lukasz-galka.github.io/ngx-gallery-demo/#preview-with-image-description

[2017-06-05 08:44] mowaiskalam commented on #11
Wow !! you just add it. Thanks

[2017-06-06 18:24] #11 closed

[2017-06-15 03:40] tthau2010 opened #12 "How to import this library using SystemJS?"

[2017-06-16 20:09] Rockforced opened #13 "When clicking an image, the overlay isn't the full height of the screen."
Maybe a possible conflict with angular material?

![bug](https://user-images.githubusercontent.com/27777704/27243052-1eecd530-52ae-11e7-8c8f-27d63759e367.png)

[2017-06-18 06:44] lukasz-galka commented on #13
Hi, please take a look at this issue https://github.com/lukasz-galka/ngx-gallery/issues/10

Is your app online or can you create simple demo?

[2017-06-18 06:55] lukasz-galka commented on #13
In chrome console you can use this code to find element with `transform `property
`$$("*[style]").filter(el => el.getAttribute('style').indexOf('transform') != -1)`

[2017-06-18 17:09] Rockforced commented on #13
Adding these properties to ngx-gallery-active `  height: 100vw;
  width: 100vw;` seemed to fix the issue.

[2017-06-18 17:09] #13 closed

[2017-06-18 17:13] Rockforced commented on #13
[code]
Adding these properties to ngx-gallery-active seemed to work, but actually doesn't work well on mobile.

[2017-06-19 22:11] Volof opened #14 "nglint fix"
Hola man!
Please fix lint, cant push to develop, tnx
$ ng lint
Your global Angular CLI version (1.0.3) is greater than your local
version (1.0.0-rc.2). The local Angular CLI version is used.

To disable this warning use "ng set --global warnings.versionMismatch=false".

/node_modules/ngx-gallery/lib/ngx-gallery-preview.component.ts[14, 18]: Type boolean trivially inferred from a boolean literal, r

[2017-06-20 06:35] lukasz-galka commented on #13
Hi @Rockforced did you find element with transform property or you just add 100vw style? Is this issue resolved or maybe I should reopen this issue?

[2017-06-20 07:04] lukasz-galka commented on #14
Hi, you should not linting external library. My lib and probably other libraries are emitting *.ts files but they shouldn't. I will try to fix this soon, but at this moment you can exclude node_modules directory from linting as described [here](https://github.com/angular/angular-cli/issues/4350#issuecomment-308140804)

Please update angular-cli.json file
[code]

[2017-06-20 16:42] Volof commented on #14
Thanks for the quick reply. It works well!

[2017-06-20 19:33] #14 closed

[2017-06-26 06:12] lukasz-galka commented on #13
I have checked material code and this behaviour is because of class `mat-sidenav-content` which has `transform` property. There are two tickets about this issue in material repository https://github.com/angular/material2/issues/4873 and https://github.com/angular/material2/issues/998

At this moment there is one option to fix this behaviour
[code]

[2017-06-26 06:12] lukasz-galka commented on #10
I have checked material code and this behaviour is because of class `mat-sidenav-content` which has `transform` property. There are two tickets about this issue in material repository https://github.com/angular/material2/issues/4873 and https://github.com/angular/material2/issues/998

At this moment there is one option to fix this behaviour
[code]

[2017-07-11 12:54] lukasz-galka commented on #12
I know that it is probably too late, but I have added support for SystemJS in version 1.0.0

[2017-07-11 12:54] #12 closed

[2017-07-12 08:42] RuanKruger opened #15 "Possible to add auto sliding?"
Hi

Is it possible to add an option to auto sliding of the images?

Thanks.

[2017-07-13 12:50] lukasz-galka commented on #15
Hi, currenlty I have some problems with aot and version 1.0.0, but after this I can add this feature.

[2017-07-13 12:52] RuanKruger commented on #15
Cool, if there is a certain route I can follow please inform me. Thanks for the wonderful gallery :+1:

[2017-07-14 12:20] csysmans opened #16 "AOT"
Hi!

Very nice library and it works great in my application.
However when I try to build my webpack application with AOT, I receive the following message:

`
Module not found: Error: Can't resolve 'ngx-gallery/ngx-gallery.module' in '/Users/christophe/Projects/find-out/platform/src/www/.tmp/app'
    at factoryCallback (/Users/christophe/Projects/find-out/platform/node_modules/webpack/lib/Compilati

[2017-07-14 13:17] lukasz-galka commented on #16
Hi, AOT is broken in version 1.0.0 (I'm working on fix), so at this moment please use version 0.8.5
npm i -S ngx-gallery@0.8.5

[2017-07-14 14:33] csysmans commented on #16
Works like a charm! Thanks.

[2017-07-17 10:47] avvie opened #17 "How can i get an image?"
I am new to angular development. I am trying to figure in your code, if there is a way to get the index and the images array. or an onclick event that can return me the image object of the selected image.

If there is an easy way to do it let me know. If not, please point me towards where i need to add stuff.

btw great work with the gallery!

Looking forward to your reply

[2017-07-17 18:56] lukasz-galka commented on #17
Hi @avvie currently there is no option/event for this. I can try to implement this tomorrow.

[2017-07-17 20:47] TonganJedi opened #18 "Apply 'Contain' To Thumbnails Background-Size?"
First, let me thank you for this excellent carousel.

Do you have any suggestions on how to apply the contain value to the background of the thumbnails? Is that even doable? I have a library of thumbnails that are of inconsistent size (but all of them 120px or less).

CSS is not my forte so any assistance would be appreciated.

[2017-07-18 05:20] avvie commented on #17
Cheers mate. Let me know when, ill try to look at how you did it for learning as well.. Cause i was searching all. Day to figure out how to get data from something that is inside node_modules

[2017-07-18 12:17] #16 closed

[2017-07-18 12:45] avvie commented on #17
I saw you made a commit today, did you manage to implement getting the current selection?

[2017-07-18 12:51] lukasz-galka commented on #18
HI @TonganJedi please check version `1.0.2` and option `thumbnailSize`, for example `thumbnailSize: NgxGalleryImageSize.Contain`

You can see this in action here
https://lukasz-galka.github.io/ngx-gallery-demo/#image-size-contain

[2017-07-18 12:53] lukasz-galka commented on #17
not yet, but I'm working on it

[2017-07-18 13:40] lukasz-galka commented on #17
please check version `1.0.3` and event `change`.

Example:
html
`<ngx-gallery [options]="eventsExample.options" [images]="eventsExample.images" (change)="onChange($event)"></ngx-gallery>`

ts
[code]

Demo available here https://lukasz-galka.github.io/ngx-gallery-demo/#events

[2017-07-18 14:41] avvie commented on #17
You are a literal god! thanks !! this works great

[2017-07-18 14:55] TonganJedi commented on #18
You're a prince among men, sir. Thanks!

Regards,

Lotu Moeloa

On Tue, Jul 18, 2017 at 6:51 AM, Łukasz Gałka <notifications@github.com>
wrote:

[2017-07-18 15:33] #17 closed

[2017-07-18 17:49] TonganJedi commented on #18
I updated to 1.0.2, but now I'm receiving an error message:

Looks like the NgxGalleryHelperService and NgxGalleryComponent classes are unable to find the angular/core module.

Having the same issue with 1.0.3 as well.

[2017-07-18 20:09] lukasz-galka commented on #18
Could you paste here your package.json or just dependencies?

[2017-07-18 21:24] TonganJedi commented on #18
"dependencies": {
    "@ angular/animations": "4.2.2",
    "@ angular/common": "4.2.2",
    "@ angular/compiler": "4.2.2",
    "@ angular/compiler-cli": "4.2.2",
    "@ angular/core": "4.2.2",
    "@ angular/forms": "4.2.2",
    "@ angular/http": "4.2.2",
    "@ angular/platform-browser": "4.2.2",
    "@ angular/platform-browser-dynamic": "4.2.2",
    "@ angular/platform-server": "4.2.2",
    "@ a

[2017-07-19 01:27] Amanda-Clark opened #19 "'Implicity has an any' error when following sample code"
I'm following the sample code on the main page, and I'm getting
node_modules/ngx-gallery/lib/ngx-gallery.component.ts(175,28): error TS7006: Parameter 'first' implicitly has an 'any' type
.
node_modules/ngx-gallery/lib/ngx-gallery.component.ts(175,35): error TS7006: Parameter 'second' implicitly has an 'any
Alas I'm very new to Angular2/4 and not sure what's going on. Is this an Angular4 thing? I'

[2017-07-19 06:16] lukasz-galka commented on #18
I couldn't reproduce this message but I have fixed this line
`node_modules\ngx-gallery\lib\ngx-gallery-helper.service.ts(6,5)
`
Could you check version 1.0.4?

[2017-07-19 06:17] lukasz-galka commented on #19
Hi @Amanda-Clark, Could you check version 1.0.4?

[2017-07-19 13:18] Amanda-Clark commented on #19
thanks I'll try it tonight when I get home from work!

[2017-07-20 17:04] TonganJedi commented on #18
Sorry for the delayed response. I updated to 1.0.4 and the original error is gone, but now I see a problem with SystemJS evaluating node_modules/ngx-gallery/bundles/ngx-gallery.umd.js. There appears to be a syntax error.

	SyntaxError: Unexpected token <
	    at eval (<anonymous>)

Please let me know what I can provide you to help nail this down. Thanks!

[2017-07-20 17:48] TonganJedi commented on #18
This is our systemjs.config file:

(function (global) {

    var map = {
        'app': 'app', // 'dist',
        '@angular': 'node_modules/@angular',
        'rxjs': 'node_modules/rxjs',
        '@ng-bootstrap/ng-bootstrap': 'node_modules/@ng-bootstrap/ng-bootstrap/bundles/ng-bootstrap.js',
        'ngx-gallery': 'node_modules/ngx-gallery/bundles/ngx-gallery.umd.js'
    };

    var packages = {

[2017-07-24 19:08] premsh opened #20 "Show all image grid like 10 x 15 images"
I need to create something like this http://oidamo.de/angular2-image-gallery/ but this one uses needs node command to be run before the it works i.e. doesn't work for dynamic images.

Is there a way to show just all the images as a grid i.e. if I have 150 images, show the grid of 10 x 15?

If not, is there is a way to invoke the method directly to open the modal? For example if I build custom grid

[2017-07-25 06:31] lukasz-galka commented on #20
Hi @premsh, with my gallery you can build grid, but all images will have the same width and height. You can see grid 1x4 here https://lukasz-galka.github.io/ngx-gallery-demo/#only-thumbnails and gallery with grid 2x3 here https://lukasz-galka.github.io/ngx-gallery-demo/#thumbnails-with-multiple-rows
Using options like thumbnailsRows and thumbnailsColumns you can create grid with any size. However

[2017-07-25 20:04] premsh commented on #20
Thank you @lukasz-galka

I just happened to be doing exactly same as you were suggested.

I end up using the bootstrap custom grid to display the images and used the openPreview(index) to invoke the modal carousel.

Thanks for all the work man! really appreciate it!

[2017-07-26 08:32] #20 closed

[2017-07-26 15:45] TonganJedi commented on #18
The console error:

	SyntaxError: Unexpected token <
	    at eval (<anonymous>)
	Evaluating http://localhost:63587/node_modules/ngx-gallery/bundles/ngx-gallery.umd.js
	Error loading http://localhost:63587/app/main.js
	    at eval (<anonymous>)
	Evaluating http://localhost:63587/node_modules/ngx-gallery/bundles/ngx-gallery.umd.js
	Error loading http://localhost:63587/app/main.js
ZoneDelegate.invoke

[2017-07-26 16:03] TonganJedi commented on #18
IE11 console gave me a bit more information:

![image](https://user-images.githubusercontent.com/30245030/28631131-6f989a3c-71e9-11e7-8cc4-d555b205d9d9.png)

[2017-07-27 06:21] lukasz-galka commented on #18
Hi @TonganJedi and sorry for problems with my component. As I can see you are using SystemJS but unfortunately version 1.0.4 is not compatible with SystemJS. Only version 1.0.0 has support for SystemJS.

In version 1.0.0 I have changed build system (and this build was compatible with SystemJS), but there were problems with AOT build, so I switched back to old build starting from 1.0.1.

Currently

[2017-07-27 11:24] default23 opened #21 "Using Blob or SafeResourceUrl images"
Hello, i'm stuck with displaying images with SafeResourceURL or Blob images, i don't have a direct link to the image like  'https://example.com/image.png', because i need to get an image from the API using several headers in the request

Please leave an example or describe how can i show gallery with that images

[2017-07-27 15:25] TonganJedi commented on #18
No problem. I'll stay on v.0 until I hear back from you. Thanks!

[2017-07-29 07:47] tobi-or-not-tobi opened #22 "Support for Shortcuts?"
Hi,
this looks like a great project to me, thanks! From documentation I haven't seen the ability to use shortcuts, i.e. ESC for closing the preview image, arrows to navigate through the images (both in normal mode as well as preview mode).

I'm used to those shortcuts and I believe many end-users as well. It helps to speed up navigation a lot.

[2017-07-29 08:01] tobi-or-not-tobi opened #23 "Support other icons"
Currently this project  support font awesome. Its a great icon library, but doesn't fit each and every design. Its a pity if your project is based on a different icon library (i.e. [Material Icons](https://material.io/icons/), [spectre.css](https://picturepan2.github.io/spectre/elements.html#icons), etc.) that the icons for this project are fixed.

Most modern icon frameworks depend on using class

[2017-07-29 08:03] tobi-or-not-tobi opened #24 "Close on click on overlay"
Image galleries are typically navigated by opening an image and quickly closing it by pressing the close button, [pressing ESC](https://github.com/lukasz-galka/ngx-gallery/issues/22) or clicking on the overlay. An option to close the image(preview) is not available AFAIK - correct me if I'm wrong.

btw: closing on overlay-click is not always preferred, so it could be a config option.

[2017-07-29 17:01] lukasz-galka commented on #24
Hi @tobi-or-not-tobi there is already option `previewCloseOnClick`, you can find all available options here https://github.com/lukasz-galka/ngx-gallery#ngxgalleryoptions

[2017-07-29 17:06] lukasz-galka commented on #22
Hi @tobi-or-not-tobi there is already option `previewKeyboardNavigation` for keyboard navigation, you can find all available options here https://github.com/lukasz-galka/ngx-gallery#ngxgalleryoptions

I can add option for closing preview by ESC. In my opinion navigation by keyboard in normal mode can be somethimes problematic for end users, but if you need this option I can implement this :)

[2017-07-29 17:14] lukasz-galka commented on #23
Hi @tobi-or-not-tobi, yes, you are right. I will think about it and let you know.

[2017-07-29 17:16] lukasz-galka commented on #21
Hi @default23, could you give me more info or maybe some example? Could you give me maybe example with simple html img?

[2017-07-29 17:51] lukasz-galka commented on #22
I have added option `previewCloseOnEsc` in version 1.0.5

I my opinion keyboard navigation for normal mode is tricky because you don't have focus on gallery. For example you can have N galleries and you don't know which gallery should take action on keyboard navigation. The same situation if you have image and thumbnails, keyboard navigation should move image or thumbnails? :)

[2017-07-29 17:55] lukasz-galka commented on #19
Hi @Amanda-Clark, did you check?

[2017-07-29 18:20] tobi-or-not-tobi commented on #24
Ah awesome, I must have missed that! Thanks for the prompt reply.

[2017-07-29 18:20] #24 closed

[2017-07-29 18:21] tobi-or-not-tobi commented on #23
Ok cool. Let me know if you need help.

[2017-07-29 18:24] tobi-or-not-tobi commented on #22
Tour ligtning fast, much appreciated. I'll have a look later on the day and give it a go.

Agreed on this would only work when an element:gallery is focussed. It would still make sense from my pov, but only when there's focus.

[2017-07-29 18:47] tobi-or-not-tobi commented on #22
Works like a charm :)

[2017-07-29 18:47] #22 closed

[2017-07-29 18:57] tobi-or-not-tobi opened #25 "SEO optimizations for preview mode"
In order to improve SEO and site navigation I'd like to have url routing for the zoomed in image. It basically means that whenever you select an image, the URL would change into a unique URL that can be used for navigation (browser history), deeplinks and sharing (i.e. facebook). I'm not sure what the best solution is to achieve this.

One idea that comes to mind is adding output/inputs that can b

[2017-07-29 19:00] tobi-or-not-tobi commented on #25
I guess the change event comes into play here. Haven't used it yet.

[2017-07-31 05:58] lukasz-galka commented on #25
Hi @tobi-or-not-tobi currently there is `change` event, but this events is only triggered after normal image change (not on preview/modal). I can add additional event, for example `changeOnPreview` which will be triggered on every image change on preview/modal. Let me know.

If you have index you can open preview by hand using `openPreview`, example here https://github.com/lukasz-galka/ngx-gallery

[2017-07-31 06:11] default23 commented on #21
Hi, i'm receive images with method like this

[code]

And then, i'll create SafeResourceUrl for that blob, because Angular fail with security error, with this method

[code]

And finally i'm getting the all images of SafeResourceUrl type, it have a link inside like

blob://localhost.....

[2017-08-01 18:13] lukasz-galka commented on #19
Closed due to no activity.

[2017-08-01 18:13] #19 closed

[2017-08-02 06:45] lukasz-galka commented on #23
Hi @tobi-or-not-tobi, I have added this option in version `1.1.0`, you can see this in action here https://lukasz-galka.github.io/ngx-gallery-demo/#custom-icons

[2017-08-02 14:12] danimanrique opened #26 "ngx-gallery without angular-cli"
Hello, I have a problem with the new version. In version 1.0.0 to import the library I indicated the path of the file with the extension "umd.js" in the file systemjs.config.js, but in the new version 1.1.0, this file does not exist and I can not import " Ngx-gallery ".
How should I import the lib? Bearing in mind that I do not use "angular-cli".

[2017-08-03 05:58] lukasz-galka commented on #26
Hello @danimanrique, unfortunately only version 1.0.0 has support for SystemJS and has file *umd.js. I have problems with build for project which use angular-cli and for project which not use angualr-cli. I will try to fix this as soon as possible and let you know.

[2017-08-03 10:44] bidakh opened #27 "ngx-gallery with aot build"
Hi.
I use the component with webpack and AOT build. The scss not working. JIT build is ok.
Can you help me?

[2017-08-03 11:44] lukasz-galka commented on #27
Hi @bidakh which version are you using?

[2017-08-03 12:34] bidakh commented on #27
latest 1.1.0

[2017-08-03 13:47] lukasz-galka commented on #27
Do you have some error?

[2017-08-03 14:07] bidakh commented on #27
No error. The problem:
Generated DOM code with JIT (this is good):
[_nghost-c0] {
  display: inline-block; }
  [_nghost-c0]    > *[_ngcontent-c0] {
    float: left; }
  [_nghost-c0]     * {
    box-sizing: border-box; }
  [_nghost-c0]     .ngx-gallery-icon {
    color: white;
    font-size: 25px;
    position: absolute;
    z-index: 2000; }
  [_nghost-c0]     .ngx-gallery-clickable {
    cursor: p

[2017-08-03 14:26] bidakh commented on #27
A similar problem here: https://stackoverflow.com/questions/39821948/does-angular-2-ahead-of-time-compiler-support-sass-stylesheets

[2017-08-03 16:11] #23 closed

[2017-08-03 16:21] lukasz-galka commented on #27
Could you paste  here packages.json, angular cli version and node version? I am also using aot build for demo page https://lukasz-galka.github.io/ngx-gallery-demo/ and here everything is working fine. I have old angular cli `1.0.0-rc.1`

[2017-08-03 17:14] lukasz-galka commented on #21
Hi @default23, in version 1.1.1 I have updated `NgxGalleryImage` and now is suporting `SafeResourceUrl `
https://github.com/lukasz-galka/ngx-gallery#ngxgalleryimage

I have also added example in demo https://lukasz-galka.github.io/ngx-gallery-demo/#images-as-saferesourceurl

Please let me know if it helps.

[2017-08-04 07:14] bidakh commented on #27
This is interesting.
@angular/compiler-cli: 4.1.0     @types/node: 7.0.14
Are you using the webpack? This is my scss loader code part:
  rules: [
    {
      test: /\.ts$/,
      use: ['awesome-typescript-loader', 'angular2-template-loader']
    },
    {
      test: /\.html$/,
      use: 'raw-loader'
    },
    {
      test: /\.(css|scss)$/,
      loaders: ['to-string-loader', 'css-loader', 'sass-

[2017-08-04 07:15] bidakh commented on #27
Sorry, "@angular/compiler-cli": "4.1.0", "@types/node": "7.0.14",

[2017-08-04 07:17] bidakh commented on #27
Sorry, angular/common-cli: 4.1.0     types/node: 7.0.14

[2017-08-04 07:39] bidakh commented on #27
Sorry,
angular-cli: 1.0.0-beta.28.3
node: 6.10.0

[2017-08-04 08:26] default23 commented on #21
Ok @lukasz-galka , thanks a lot! 👍  I'll leave a feedback later

[2017-08-04 08:48] default23 commented on #21
@lukasz-galka This warning appears again

[code]

Seems to this warning occurs from this line of your code
[code]

[2017-08-04 09:12] default23 commented on #21
@lukasz-galka

This warning appears again

[code]

For the testing purposes i load files via this business logic

[code]

I think this images are not render because you need to use the `bypassSecurityTrustStyle ` method (DomSanitizer) before you use an image in the HTML

`ngx-gallery-image.component.html`
[code]

[Issue like that on stackoverflow](https://stackoverflow.com/questions/38593515/angul

[2017-08-04 12:55] lukasz-galka commented on #21
Yes, but there is a problem because `bypassSecurityTrustStyle` requires `string` and you are using `SafeResourceUrl`. I will read about it.

[2017-08-05 19:07] danimanrique commented on #26
Ok.. Thanks for the quick reply!

[2017-08-08 04:38] junimohano opened #28 "Easy to click preview mode when slide."
Could you fix to run preview mode when I only click not swipe ?

I just tried sliding to see next slide of pictures, but preview is also running.

[2017-08-08 04:44] junimohano opened #29 "Preview needs to be based on fullsize of window."
The preview height is based on document height not window height.

If height is more than window's height as scroll, the positions of preview is wrong.

![untitled](https://user-images.githubusercontent.com/19492915/29056682-b32769d4-7bd2-11e7-9d7c-8f0ba3012876.png)

Could you fix it ?

[2017-08-08 04:54] junimohano commented on #28
Also, slide should be only horizontal not vertical.
in terms of mobile, scroll is not working when I touched to scroll down on ngx-gallery.

[2017-08-08 05:51] lukasz-galka commented on #29
Hi @junimohano, could you give me more info? code example? package.json? maybe link to application or to sources?

Here https://lukasz-galka.github.io/ngx-gallery-demo/ you can find demo for my plugin and there is no problem which you described.

[2017-08-08 05:57] lukasz-galka commented on #28
Hi @junimohano, are you swiping main image or maybe thumbnails? You are right about second comment, could you create separate ticket for that?

[2017-08-08 13:34] junimohano commented on #28
okay i will make it

[2017-08-08 13:34] junimohano opened #30 "Slide problem"
Slide should be only horizontal not vertical.
in terms of mobile, scroll is not working when I touched to scroll down on ngx-gallery.

[2017-08-08 13:38] junimohano commented on #28
Can you check again for first comment ?

When you swipe, it runs both preview and slide if mouse is up inside of picture,

[2017-08-08 13:40] junimohano commented on #29
um.. yes your demo is okay...

I am using flex layout.

my package.json as below,

"dependencies": {
        "@angular/animations": "^4.3.3",
        "@angular/cdk": "^2.0.0-beta.8",
        "@angular/common": "^4.3.3",
        "@angular/compiler": "^4.3.3",
        "@angular/core": "^4.3.3",
        "@angular/flex-layout": "^2.0.0-beta.8",
        "@angular/forms": "^4.3.3",
        "@angular/htt

[2017-08-08 13:52] junimohano commented on #29
I found one thing that it occured on md-tab.

preview's size is based on width and height of md-tab.

Is there any soluations?

![image](https://user-images.githubusercontent.com/19492915/29074955-04d20356-7c1f-11e7-9cd8-a56cb4c86ba9.png)

[2017-08-08 14:04] junimohano commented on #29
![image](https://user-images.githubusercontent.com/19492915/29075541-aec45f16-7c20-11e7-9cb3-9f9b45deeccf.png)

How to remove this transform? I saw the issues you wrote and follow to remove this transform on chrome developer mode, it works but i don't know how to remove on code.

[2017-08-09 11:27] lukasz-galka commented on #29
You can try with:
[code]

[2017-08-09 22:16] junimohano commented on #29
I already tried.. but not working..

[2017-08-12 01:44] lamer547 opened #32 "Arrow Color"
How to change the arrow color ?

[2017-08-13 17:50] lukasz-galka commented on #32
Hi @lamer547

[code]

[2017-08-13 19:24] lukasz-galka commented on #29
I have created empty project with angular material tabs and my gallery. At the begining there was problem with preview size, but above css solved this issue.

Did you find solution? Could you create demo/github repo with this issue? Do you have this issue on evry tab? Maybe this is because of other material element?

I would like to resolve this issue.

[2017-08-14 02:01] junimohano commented on #29
[test project link](https://github.com/junimohano/test-gallery)

I made a repository for you.
Can you check this one?
Same problem.. I need a full screen of preview.
also, preview should cover toolbar as well.

Can you look at it and fix please ?

[2017-08-15 06:50] lukasz-galka commented on #29
Hi @junimohano thanks for test repository. You have to insert styles for `.mat-tab-body-content` inside file `style.css`:

[code]
In your example you had these styles in `app.component.css`. Styles defined in component are only for this component, so in output you had

[code]

but we need selector without component attribute `[_ngcontent-c0]`:

[code]

For fullscreen there are two options `preview

[2017-08-15 07:31] lukasz-galka commented on #30
Hi @junimohano I have fixed this in version 1.1.3. Please check and let me know.

[2017-08-15 09:51] lukasz-galka commented on #28
Hi @junimohano swipe is working fine on touch devices. Do you really need swipe on desktop (using mouse)?

[2017-08-15 09:56] #25 closed

[2017-08-15 13:28] junimohano commented on #28
um... then, forget about it...
im gonna use for awhile and then let you know again
thank you

[2017-08-15 13:58] junimohano commented on #29
Thank you.
previewFullscreen of property is not working but those code in styles.css is working as below,

.mat-tab-body-content {
    -webkit-transform: none !important;
            transform: none !important;
}

also can you add z-index higher number on preview ?

[2017-08-15 14:00] junimohano commented on #30
This is not fixed...
It doesn't scroll when I touch down on pic and drag to up or down on imageSwipe mode.

[2017-08-15 14:12] lukasz-galka commented on #30
Could you check here https://lukasz-galka.github.io/ngx-gallery-demo/#swipe ?

[2017-08-15 14:14] lukasz-galka commented on #29
previewFullscreen requires font awesome for icon, did you include font awesome?

[2017-08-15 16:44] junimohano commented on #30
hm.... even I updated... why it is not working ??
your demo is okay... but why mine is not working ;;;

[2017-08-15 16:55] junimohano commented on #30
on thumnails are okay.. only on just pictures

[2017-08-16 16:24] #32 closed

[2017-08-16 16:24] #28 closed

[2017-08-17 16:15] lukasz-galka commented on #30
Do you still have this problem? Maybe could you update your test repository and I will check there?

[2017-08-19 19:01] DBosley opened #33 "Using the same "Big" image prevents the preview from paging correctly"
using the example `this.galleryImages` but editing it as shown below prevents the large image preview from loading the other images when pressing the left or right arrow:

[code]

[2017-08-20 06:06] lukasz-galka commented on #33
Hi @DBosley which version are you using?

[2017-08-22 00:43] DBosley commented on #33
I installed the library for the first time yesterday with all the latest released angular dependencies.

[2017-08-24 09:14] lukasz-galka commented on #33
fixed in version 1.1.5, you can see this in https://lukasz-galka.github.io/ngx-gallery-demo/#using-the-same-images

[2017-08-25 08:31] #33 closed

[2017-08-29 05:49] lukasz-galka commented on #30
I'm closing this ticket, if you still have problems let me know.

[2017-08-29 05:56] lukasz-galka commented on #29
Preview has zindex 10000. If you have other element with position fixed (for example floating header) there can be problems because position depends also on order in html.

I have added two events `previewOpen` and `previewClose` in version 1.1.6 and you can make custom action, for example show/hide header.

I'm closing this issue, if you have still problems let me know.

[2017-08-29 05:56] #29 closed

[2017-08-30 15:12] sinsunsan opened #34 "quit gallery preview on clicking on overlay"
Is it possible to quit the gallery not only by clicking on the x button and on ESC key
But also on the grey overlay zone as it is common in many viewers?

[2017-08-30 16:59] lukasz-galka commented on #34
yes, you have to use option `previewCloseOnClick`

[2017-08-30 20:13] sinsunsan commented on #34
Thanks! perfect.

[2017-08-30 20:13] #34 closed

[2017-08-31 05:46] lukasz-galka commented on #21
I know that it is probably to late, but I fixed this in version `1.1.7`

[2017-09-01 04:29] #21 closed

[2017-09-01 12:22] gozeller opened #35 "webpack build warnings"
Hi,
I use ngx-gallery 1.1.7 without problems. But for your information: a lot of warnings occure when building with **webpack 3.3.0 and typescript@2.4.1** :

`WARNING in ./node_modules/ngx-gallery/lib/ngx-gallery.component.ts
[32, 22]: Type number trivially inferred from a number literal, remove type annotation
[34, 20]: Type number trivially inferred from a number literal, remove type annotation

[2017-09-06 03:45] BlankHrt opened #36 "ngx-gallery not display pictures"
not display pictures ,but when i click blank ,it can show big picture. i dont know why.here is my code

`<ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>`

`galleryOptions = [
    { 'previewCloseOnEsc': true },
    { 'breakpoint': 500, 'width': '300px', 'height': '300px', 'thumbnailsColumns': 3 },
    { 'breakpoint': 300, 'width': '100%', 'height': '200px', 'thumbnai

[2017-09-06 03:52] BlankHrt commented on #36
even not loading
https://www.google.com/images/branding/googlelogo/2x/googlelogo_light_color_272x92dp.png

[2017-09-06 09:16] lukasz-galka commented on #36
Hi @BlankHrt you have different images in `big` and dfferent in `small/medium`. That is ok, bu maybe image used in `small/medium` is broken?

I have checked example with https://www.google.com/images/branding/googlelogo/2x/googlelogo_light_color_272x92dp.png and everything is working fine, you can see here (I added black background because white image on white bacjground)
![1](https://user-images.

[2017-09-06 09:17] lukasz-galka commented on #35
Hi @gozeller thanks for info. I will try to eliminate them

[2017-09-06 09:19] BlankHrt commented on #36
Thank you .It's my problem.

[2017-09-06 09:34] #36 closed

[2017-09-07 03:37] BlankHrt opened #37 "image mode on the phone"
when click image to see image mode on the phone, it loads image in the middle of the screen ,that means i can not see image until i scroll it down.

[2017-09-07 06:27] default23 commented on #21
@lukasz-galka when i'll back to my project i will check this! Thank you

[2017-09-07 06:42] lukasz-galka commented on #37
I have checked on my phone and it is working fine.

Do you have the same situation with my examples? https://lukasz-galka.github.io/ngx-gallery-demo/#simple-gallery

Are you using Angular Material?

[2017-09-07 08:14] BlankHrt commented on #37
i add .mat-card-content to the style.css.
problem still exist

[2017-09-10 11:45] SiddharthSh opened #38 "Is it possible to incorporate index in the Images array ?"
Thanks for the great Repo, just a  suggestion if its possible to incorporate index in the Images array to load the default image on that particular index and not the first one always ?

[2017-09-11 15:19] german-e-mas commented on #35
I'm using the same versions and I'm experiencing these warnings as well. Thanks for taking a look at this @lukasz-galka ! Great component :)

[2017-09-12 15:50] lukasz-galka commented on #38
I have added option `startIndex` in version `1.2.0`.  You can see it in action here https://lukasz-galka.github.io/ngx-gallery-demo/#custom-start-index

[2017-09-12 16:11] lukasz-galka commented on #37
@BlankHrt  I have created simple example with `md-card` and gallery is working fine.

1. Do you have this issue only on phone or also on desktop?
2. Is gallery working fine if is outside `md-content`?
3. Which version of angular material / angular are you using?

Maybe you can create simple github repository with your issue?

[2017-09-13 18:21] lukasz-galka commented on #35
Hi @gozeller @german-e-mas

In version `1.3.0` I have eliminated all warnings except
`The selector of the component "..." should have prefix "jhi"`

To fix this warning I have to change my build system (my components have `ngx` prefix). On the other hand you shouldn't lint external libraries. For `angular-cli` based apps you can disable this in config file, I described this here https://github.com

[2017-09-15 03:58] BlankHrt opened #39 "angular universal"
it not support angular universal

Error: Cannot find module 'ngx-gallery'

[2017-09-15 05:30] lukasz-galka commented on #39
Hi @BlankHrt, could you give me more info? Maybe example project? I am not familiar with angular universal.

[2017-09-15 05:30] #38 closed

[2017-09-15 07:40] BlankHrt commented on #39
hi , look at this tutorial
https://coursetro.com/posts/code/68/Make-your-Angular-App-SEO-Friendly-(Angular-4-+-Universal)
then install universal

[2017-09-18 18:10] lukasz-galka commented on #39
Hi @BlankHrt

As I read here https://github.com/angular/universal-starter

you have to include my gallery in `nodeExternals`.

In repository from your link is also issue `Unable to use any third party library` https://github.com/designcourse/angular-seo/issues/3#issuecomment-313346304 and here is also `nodeExternals`

Unforunatelly in your example there is no `webpack.config`, so I'm not sure how

[2017-09-18 18:15] lukasz-galka commented on #18
I'm closing this issue because feature is implemented. There is other task with support for SystemJS https://github.com/lukasz-galka/ngx-gallery/issues/26

[2017-09-18 18:15] #18 closed

[2017-09-19 01:37] BlankHrt commented on #39
I just put your lib into my shared/lib to solve the problem.
you met unexpected import problem?
this is my repo https://github.com/BlankHrt/activity .
 it's ok with angular material,jquery in universal

[2017-09-19 13:36] gozeller commented on #35
Hi @lukasz-galka, no warnings anymore.
(Yes, I'm using jhipster.)
Thanks for your work!

[2017-09-19 13:36] #35 closed

[2017-09-19 16:11] #39 closed

[2017-09-19 16:12] #37 closed

[2017-09-20 12:53] experionathira commented on #15
Any update on this ?

[2017-09-20 13:03] lukasz-galka commented on #15
Hi @experionathira  this is my next thing to do, so there is a chance that I will do this today or tomorrow

[2017-09-20 14:39] JurijZ opened #40 "ngx-gallery on Angular4"
Hi,

Tried to install (npm install ngx-gallery --save) into the project with the following versions of angular:
`"@angular/common": "4.1.2",
"@angular/compiler": "4.1.2",
"@angular/core": "4.1.2", .....`

It complained with the following error:
**+-- UNMET PEER DEPENDENCY @angular/common@4.1.2
+-- UNMET PEER DEPENDENCY @angular/core@4.1.2
`-- ngx-gallery@1.3.0**

Am I right assuming that the **ngx

[2017-09-20 18:01] lukasz-galka commented on #15
@experionathira please check version `1.4.0` and this demo https://lukasz-galka.github.io/ngx-gallery-demo/#auto-play

[2017-09-20 18:42] lukasz-galka commented on #40
Hi @JurijZ my lib is working fine with angular 4. I have just created project with

[code]

and is working fine. In my opinion this `UNMET PEER DEPENDENCY` is just worning, gallery should work properly - if is not please let me know.

[2017-09-23 12:15] chsakell opened #41 "Cannot find module "ngx-gallery" - ASP.NET Core 2 Angular 4 template"
Hi @lukasz-galka ,

When I try to use the library in the new ASP.NET Core 2 Angular template (VS 2017) the module cannot be loaded. The template uses webpack, more specifically:

There is a **webpack.config.vendor.js** file where you declare the 3rd party libraries. For yours this is the relevant parts;

[code]
As you can see I have excluded ngx-gallery but still doesn't work, I get the following

[2017-09-24 08:05] #15 closed

[2017-09-24 08:05] #40 closed

[2017-09-25 12:49] lukasz-galka commented on #41
Hi @chsakell, I will try to fix these errors today

[2017-09-26 15:42] lukasz-galka commented on #41
please check version `1.5.0` and let me know

[2017-09-26 17:58] lukasz-galka commented on #3
I have added infinity move for image and preview in `1.6.0`
https://lukasz-galka.github.io/ngx-gallery-demo/#infinity-move

[2017-09-26 17:58] #3 closed

[2017-09-26 18:00] chsakell commented on #41
Just checked. The **webpack** command passed successfully but only till I import components of the library.  Here are the typescript related errors I get when use:
[code]

[code]

Now, if i set in tsconfig.json "**strict": false**, the build passes but the app complains that _ReferenceError: KeyboardEvent is not defined at Object_.

[2017-09-27 06:06] lukasz-galka commented on #41
I have removed `KeyboardEvent` in version `1.6.1`, please check. I will try to install VS and make also tests...

[2017-09-27 16:01] lukasz-galka commented on #41
@chsakell are you using this template https://marketplace.visualstudio.com/items?itemName=BEAUGRANDKevin.Angular4AspNetCore ?

[2017-09-27 16:44] chsakell commented on #41
No, it's the one that came with VS 2017 and ASP.NET Core 2.0.
Check [this](https://twitter.com/chsakellsBlog/status/897199194770952194) out.

[2017-09-28 15:46] stefan-krajnik opened #43 "Thumbnails in preview"
Is it possible to have thumbnails in the preview as well ?

[2017-09-28 18:18] lukasz-galka commented on #43
Hi @stefan-krajnik, unfortunately no.

[2017-09-28 19:07] stefan-krajnik commented on #43
@lukasz-galka is it possible to implement it ?

[2017-09-28 22:56] TonganJedi opened #44 "Override Component CSS Class Z-Index"
The _.ngx-gallery-image.ngx-gallery-active_ CSS class sets the preview image div to a z-index of 1000. Unfortunately, another third-party library we're using also sets their look-ahead search component to the same index and in the collision the search dropdown loses. It needs to win so I need to either reduce or eliminate this property altogether.

Any suggestions on how to override this class?

[2017-09-29 05:37] lukasz-galka commented on #44
you have to put this in your component scss/css

[code]

[2017-09-29 05:39] lukasz-galka commented on #43
of course, I can think about it, but I can't promise you any date

[2017-09-29 16:11] TonganJedi commented on #44
![image](https://user-images.githubusercontent.com/30245030/31024962-f8c61a40-a4fd-11e7-9e38-7081380977eb.png)

I tried this, but it doesn't appear to change anything. The z-index property remains at 1000, though I am able to confirm removal of the property fixes the problem.

[2017-09-29 16:34] TonganJedi commented on #44
Oddly, setting the property to "initial" or removing it entirely works, but setting it to any number does not. I can test this in Chrome dev tools, but I can't seem to get any css changes in the component to propagate to the DOM.

[2017-09-29 16:54] TonganJedi commented on #44
Got it! I had to add the !important property to get the override to kick in. Not ideal, but it works like a charm now. Thanks.

[2017-09-30 14:14] mayordwells opened #45 "Unexpected value 'undefined' exported by the module 'NgxGalleryModule'"
I got this on an Angular 4.4.3 app. ngx-gallery@1.6.1

Any idea what the fix for this would be?

Uncaught Error: Unexpected value 'undefined' exported by the module 'NgxGalleryModule'
    at syntaxError (compiler.es5.js?524d:1694)
    at eval (compiler.es5.js?524d:15556)
    at Array.forEach (<anonymous>)
    at CompileMetadataResolver.getNgModuleMetadata (compiler.es5.js?524d:15554)
    at Compil

[2017-09-30 16:06] #44 closed

[2017-09-30 19:27] paulstoica opened #46 "Pause Image Autoplay"
Hello,

First, this is a great feature. Thank you for it.

I want to use imageAutoPlay, but I want also to pause it, when I am mouseover the current image, is this possible?

Thank you.
Have a good day,
Paul.

[2017-10-01 11:07] lukasz-galka commented on #45
Hi @mayordwells, are you using angular-cli (which version)?

[2017-10-01 12:07] lukasz-galka commented on #46
Hi @paulstoica, it is possible starting from version `1.7.0`, you have two new options `imageAutoPlayPauseOnHover` and `previewAutoPlayPauseOnHover`

Example here https://lukasz-galka.github.io/ngx-gallery-demo/#auto-play

[2017-10-01 12:25] lukasz-galka commented on #45
I have checked locally with

[code]
and works fine. Please give me more info and I will try to help.

[2017-10-01 13:10] paulstoica commented on #46
Great, Thank you!

[2017-10-01 13:10] #46 closed

[2017-10-01 13:14] mayordwells commented on #45
Hi @lukasz-galka I'm using a Rails 5 + Webpacker gem application.
Typescript version is 2.5.3

[2017-10-05 17:27] lukasz-galka commented on #26
I have added SystemJS support in version `2.0.0`

[2017-10-05 17:27] #26 closed

[2017-10-05 17:27] lukasz-galka commented on #27
fixed in `2.0.0`

[2017-10-05 17:27] #27 closed

[2017-10-05 17:29] lukasz-galka commented on #41
Hi @chsakell it takes a while, but I have changed my library output. Now version `2.0.0` works ok with your templete, as you can see below

![image](https://user-images.githubusercontent.com/17024927/31241153-51bf0bfc-aa03-11e7-9083-6fdeb01a5dfe.png)

[2017-10-05 17:30] lukasz-galka commented on #45
Hi @mayordwells, please check version `2.0.0`

[2017-10-05 17:53] chsakell commented on #41
Great work @lukasz-galka , thank you for your quick fix!!
I believe we may mark this issue as closed.

[2017-10-05 17:53] #41 closed

[2017-10-05 21:34] mayordwells commented on #45
Hi, @lukasz-galka thanks a lot for your quick response and all the time you have spent working on this module.
I have tested the latest update and everything seems to be working fine, I am very happy that I was patient enough to see this tool work and make use of it in my project.
Thanks again.

[2017-10-06 04:58] #45 closed

[2017-10-06 18:41] TonganJedi opened #47 "Configure Thumbnail Arrow Interval"
First, let me thank you for getting this fixed for SystemJS.

Is there a way to set the interval on the thumbnail arrows? For example, say I have a five thumbnail row. When I click on the arrow, I'd like it to go to the next five images rather than one at a time. Thoughts?

[2017-10-06 19:26] TonganJedi opened #48 "Change Background/Color of Transition Arrows?"
We have a lot of white images (biological specimen photos), so having white arrows makes them hard to find when trying to change images with a mouse. Is there a way to change the color of the arrows, or even the color of the arrow backgrounds so they can be seen against white images?

I see options for enabling/disabling and changing their shapes, but no color references. Please advise.

[2017-10-07 16:00] lukasz-galka commented on #48
You can override default styles using `/deep/` operator.

[code]

[2017-10-08 02:06] bbsxjy opened #49 "Question about Async loading"
Our project is using your great ngx-gallery. When we async images from database by calling apis, small and medium images work well. However, when clicking the preview image(big), the image did show up but the network showing the ngx-gallery component continuously calling the big image url which causes the browser super slow.

The safeResourceUrl for the async image we get is a dataURI: 'data:image

[2017-10-08 17:11] lukasz-galka commented on #47
Hi @TonganJedi, good idea. I will think about this.

[2017-10-08 17:49] lukasz-galka commented on #49
Hi @bbsxjy I couldn't reproducte this issue, but some time ago @ManpreetSingh80 added PR with fix for similar problem. I have added his fix in version `2.0.1`, please let me know if it works.

[2017-10-08 18:02] bbsxjy commented on #49
It has been fixed! Thank you so much!

[2017-10-08 18:02] #49 closed

[2017-10-09 17:18] lukasz-galka commented on #47
Hi @TonganJedi, please check version `2.1.0` and option `thumbnailsMoveSize`. Live demo here https://lukasz-galka.github.io/ngx-gallery-demo/#move-whole-thumbnails-row

[2017-10-09 17:35] aywiix opened #50 "Handle next and previus events"
I'm trying to use the gallery but I can't run the next() or Previus() events. Could you tell me please how to use them with angular ?

[2017-10-09 17:46] lukasz-galka commented on #50
Hi @aywiix, Could you give me more info?

[2017-10-09 17:51] aywiix commented on #50
I am trying to execute the previous() or next() events from javascript.
I have the component running on the project but I need to run the next() and previous() events from my own buttons.

[2017-10-10 13:14] lukasz-galka commented on #50
I will try to add this today or tomorrow

[2017-10-10 14:01] german-e-mas commented on #48
I've read that these operators are going to be deprecated in the future. You can read about it in the [Angular Component Style Guide](https://angular.io/guide/component-styles#deprecated-deep--and-ng-deep). Something to keep in mind.

[2017-10-10 15:55] TonganJedi commented on #47
Works like a charm, sir. Thank you!

[2017-10-10 16:00] TonganJedi commented on #48
I had hoped there would be an alternative way to get to these, but until they come up with a replacement for this, it'll have to do.

[2017-10-10 16:15] german-e-mas commented on #48
I used a hacky workaround to solve this (mainly because I tend to shy away from `/deep/`).

As my project required using _Material Font_ instead of _Font Awesome_, I made a custom font with just the characters required for the gallery (there are free websites that can do this).

Inside that font's CSS, I included a `circle-icon` class. Then, in the gallery, I passed the arrows as: `arrowNextIcon:

[2017-10-10 18:38] aywiix commented on #50
OK, then I'll wait for the solution!
Thank you very much @lukasz-galka

[2017-10-11 06:06] lukasz-galka commented on #50
@aywiix please check version `2.2.0` and available methods https://github.com/lukasz-galka/ngx-gallery#methods

Here you can see demo https://lukasz-galka.github.io/ngx-gallery-demo/#buttons-navigation

[2017-10-11 06:06] #47 closed

[2017-10-11 08:58] kathiraashi opened #51 "how to add images dynamically for *ngfor loop"
how to create multiple gallery in *ngfor loop in angular 2 project

[2017-10-11 14:27] aywiix commented on #50
Wow thank you very much @lukasz-galka . Could you give me a small example of how to use the methods? do I have to import and instantiate some service?

[2017-10-11 16:15] lukasz-galka commented on #48
Hi @german-e-mas, you are right with `deep`. @TonganJedi would you like option like `iconStyle`, for example `options.iconStyle = 'color: red; background: blue'` ?

[2017-10-11 16:24] lukasz-galka commented on #50
@aywiix these methods are in gallery component, so for example you can add reference variable using `#` and then run metods

[code]

you can check full example here https://plnkr.co/edit/QAI2sFMtaMpQpfV00aDC?p=preview

[2017-10-11 16:28] german-e-mas commented on #50
Thanks for the example @lukasz-galka ! Very clear.

[2017-10-11 16:53] aywiix commented on #50
very good! very clear! Thank you @lukasz-galka

[2017-10-11 16:53] #50 closed

[2017-10-13 05:26] lukasz-galka commented on #51
@kathiraashi  I am closing this, if you still have problem let me know or reopen

[2017-10-13 05:26] #51 closed

[2017-10-14 08:27] fpmk opened #52 "Remaining thumbnails count"
Hi, thanks for your awesome component.
I have one feature request. Is it possible to add remaining thumbnails count?
For example: I have 10 pics and I configured that I want to see 3 thumbnails. I don't want to show slider arrows for thumbnails, but I want to see how many picts remaining. For this I want to show label "+6" on the last thumbnail. And when i click to last thumbnail modal picture ope

[2017-10-15 15:37] chrishandorf opened #53 "Magnify"
This is really an excellent Angular gallery component with very good documentation including integration with Angular-CLI and MaterialDesign.

The one and only feature that would be very nice to have that is absent is a magnify option when in preview mode.  Something similar to https://sachinchoolur.github.io/lightgallery.js/demos/  (click any image then see the Magnify+ and Magnify- options).

[2017-10-16 05:47] lukasz-galka commented on #52
Hi @fpmk, yes it is possible, I will think about it.

[2017-10-16 21:39] mayordwells opened #54 "Get Dynamic Gallery Images"
Hi @lukasz-galka,
Can you please help me, I need to clarify, I'm just a bit confused as to
How can we make getting Gallery Images dynamic?
I find myself in a situation where I need to get the URL of images from the database.

Here's what I got:
[code]
But this definitely doesn't work in the Component file, it's not compiled because TypeScript doesn't recognize what is AP, it returns `undefined` fo

[2017-10-17 05:39] lukasz-galka commented on #53
Hi @chrishandorf, I will add this to my features/improvements list.

[2017-10-17 05:58] lukasz-galka commented on #54
Hi @mayordwells, something like this https://plnkr.co/edit/UF0cv6ncSSUQnnCwQELh?p=preview ?

[2017-10-17 10:26] mayordwells commented on #54
Hi @lukasz-galka,
Thanks for your prompt reply and explanation.
Let's talk about this part -
[code]
How do I make getting images for particular products more dynamic?
Cos just same as it was, this still remains static in a way.
I tried to achieve this by doing it this way in ngOnInit:
For a particular product on the current route, get all the images that belong to that product is what I intend to

[2017-10-17 12:28] lukasz-galka commented on #54
I'm not sure if I understand correctly the problem. I have created simple example with dynamic images https://plnkr.co/edit/8fReBi5yfq6zehtLmDY6?p=preview

So at the begining `galleryImages` is empty `[]`. Next you are making request to server for particular product images and now you should just put these images to `galleryImages`.

In my example I am doing this on button click.

Let me know, I w

[2017-10-17 12:39] german-e-mas commented on #54
Hi @mayordwells , are you sure you are getting the right data from your service? Once you know that your product isn't undefined, you can use it in the gallery like @lukasz-galka suggested.

[2017-10-17 14:44] #48 closed

[2017-10-17 20:36] mayordwells commented on #54
I'm sorry if I sound confusing, but this is the problem. I had to make sure to push this on Heroku so as to make my request and problem clear.
I have a list of thousands of products, check here - `https://deaninfotech.herokuapp.com/dashboard/ng/search`
Here's what the product Object looks like - `https://deaninfotech.herokuapp.com/products.json`
When you click on each product it takes you to produ

[2017-10-17 21:59] german-e-mas commented on #54
I am doing something similar (at least ideally).

When you say "where a request is sent to the server to get the remaining pictures belonging to that product", are you sure you are getting this information correctly? Are you able to `console.log` your pictures's URL and check they are defined? This should be done on your Details component's `ngOnInit()`.

Once you have your product (and you are ab

[2017-10-17 23:39] mayordwells commented on #54
Hi @german-e-mas,

Thanks again.
I have done as mentioned even before. But I'm still getting the same error as images is undefined.
`ERROR TypeError: Cannot read property 'images' of undefined`
Here's a complete look at my ProductDetailComponent

[code]

That one picture that displays on the product detail page is being displayed with this:
[code]

What can be wrong with my logic? and why are the

[2017-10-18 12:16] lukasz-galka commented on #54
You have `undefined` in `console.log` because at this moment you don't have product. Your code is like

1. make async request to server for product
2. console.log
3. response from server

It is working in html because Angular is making change detection after every http request. So Angular knows that your response is end and is refreshing html. More here https://blog.thoughtram.io/angular/2016/02/2

[2017-10-18 13:08] mayordwells commented on #54
Hi @lukasz-galka,
Finally, it worked. Thank you very much. Now we have solved the problem with displaying dynamic images by doing exactly as instructed above.

One other issue that popped up right after is the fact that not all objects, as in, products follow the same JSON pattern.
See this example in the template of how I am displaying images of all products on the list.

[code]
As you can see I

[2017-10-18 21:59] mayordwells commented on #54
I was able to filter out some data and just focus on one.
My service now looks like this
[code]

[2017-10-19 12:48] german-e-mas opened #55 "Variable size"
The gallery currently supports breakpoints to show different sizes and options.

Other than these breakpoints, do you think it would be easy for the gallery to fit a container or variable size? I'm using a layout with flexbox, and this could be interesting to see, yet I don't know how complicated it must be internally.

Playing around with the browser tools, I changed the gallery's width to `100%`

[2017-10-19 13:56] german-e-mas commented on #55
I just saw that we can do `width: '100%'`, which solved my problem. Doing this for the height is most likely very difficult, right?

Feel free to close this issue! :)

[2017-10-19 15:23] lukasz-galka commented on #55
Hi @german-e-mas, `height: '100%'` should also work.

[2017-10-19 15:23] #55 closed

[2017-10-19 15:25] lukasz-galka commented on #54
@mayordwells Do you still have problem with webpack? If everything is ok, please close issue.

[2017-10-19 15:33] mayordwells commented on #54
Thanks, everything is fine now.

[2017-10-19 15:33] #54 closed

[2017-10-19 15:42] german-e-mas commented on #55
Thank you @lukasz-galka !

[2017-10-20 05:35] fpmk commented on #52
Hi, thanks man. It rocks.

[2017-10-20 05:35] #52 closed

[2017-10-22 16:18] ahaw opened #56 "Resizing problem"
When resizing ngx-gallery container height of thumnails is not chaing, making pictures distorted.

[2017-10-23 06:06] lukasz-galka commented on #56
Hi @ahaw, could you show this issue on https://plnkr.co/edit/D1tdBCeFo6L9tMOCOb9p?p=preview ?

[2017-10-23 22:38] Gotemperor opened #57 "Can't resolve all parameters for NgxGalleryComponen"
Hi, I am using angular2 and file upload from ng2-file-upload and I am trying to implement your gallery, but I get an error in the console.
Can you please help me? What can cost this error?

SyntaxError {__zone_symbol__error: Error: Can't resolve all parameters for NgxGalleryComponent: ([object Object], ?).
    at SyntaxErro…, …}message: (...)name: (...)originalStack: (...)stack: (...)toSource: ƒ (

[2017-10-24 05:40] lukasz-galka commented on #57
Hi @Gotemperor, cosntructor for `NgxGalleryComponent` loks like https://github.com/lukasz-galka/ngx-gallery/blob/master/src/ngx-gallery.component.ts#L61

There is probably problem with `PLATFORM_ID`, I will read about it and let you know.

If you are using angular cli please show my output from `ng -v` (from your project directory), if not please show `package.json`

[2017-10-24 17:56] ahaw commented on #56
Sure:) I changed
this.galleryOptions = [
      {
        width: '600px',
        height: '400px',
        thumbnailsColumns: 4
      }
    ];
to
this.galleryOptions = [
      {
        width: '100%',
        height: '400px',
        thumbnailsColumns: 4
      }
    ];
https://plnkr.co/edit/Tvzf9cWmlNLSg6DctwPR?p=preview

I think it should preserve image width even when size of whole component
chan

[2017-10-26 05:48] lukasz-galka commented on #57
@Gotemperor, please check version `2.4.1`

[2017-10-30 16:45] #57 closed

[2017-11-01 13:26] lukasz-galka commented on #53
Hi @chrishandorf, please check version `3.0.1` and option `previewZoom`. Demo here https://lukasz-galka.github.io/ngx-gallery-demo/#preview-with-zoom

[2017-11-02 08:25] jshupptechnologies opened #58 "second time open another image not hide loading & opacity"
I am first time click on image that time open & second time click on another image that time not hide loader.
If open first one image again that time work,but not for other ngx-gallery.
 i was check in issue is not hide loader & not set opacity for second ngx-gallery.

can anyone suggest solution for this ?

[2017-11-02 08:58] lukasz-galka commented on #58
Hi @jshupptechnologies I know that there is a problem if you have more than one gallery with the same images, but there should not be a problem with one gallery or many galleries with unique images.

Do you have this situation if you are using one gallery? Do you have duplicated images?
Could you reproducte this using plunker? https://plnkr.co/edit/D1tdBCeFo6L9tMOCOb9p?p=preview

[2017-11-02 12:28] chrishandorf commented on #53
I took a quick look and it looks great!   I will be working on integrating it and testing it on my own site this weekend.  Thank you for the wonderful work.  Where is the beer link?  :)

Chris

[2017-11-03 11:33] jshupptechnologies commented on #58
@lukasz-galka  no i not have any duplicate image. all image name is unique. i was check issue with hide loader & view image. Image load properly but loader not hide because of that image not show view.

here code
.ngx-gallery-preview-img{
opacity:1
}
this need be 0 after loading.

.ngx-gallery-icon.ngx-gallery-spinner{
dipplay:inline-block;
}

this need to be none.

image load but above two css no

[2017-11-04 13:57] chrishandorf commented on #53
Hi @lukasz-galka ,
The Zoom option is working great.  Thank you.  I did notice one problem because there are no restrictions on the minimum / maximum amount of zoom.  If you press the Zoom- button enough times the image will eventually disappear.  That makes sense I guess, but if you press it a few more times the image re-appears but now it is upside down and it starts to get Larger every time you

[2017-11-04 17:26] lukasz-galka commented on #53
Hi @chrishandorf , thank you for suggestions. I have added 3 new options in version `3.1.0`:

- `previewZoomStep`
- `previewZoomMax`
- `previewZoomMin`

https://lukasz-galka.github.io/ngx-gallery-demo/#preview-with-zoom

[2017-11-05 17:07] CybrZr00 opened #59 "multiple galleries unique images breaks preview"
Hi,

I am making an Angular Universal app, using Asp.net core for server side pre-rendering.  I have 2 galleries, in separate components, displayed in the same parent.  The galleries are loading just fine; however, when I open the preview of one, then close that preview, and preview the next gallery I get "unable to load image" it can be a bit random and sometimes show one of the images, but click

[2017-11-06 05:10] jshupptechnologies commented on #59
@CybrZr00 did you get any solution for this for multiple galleries ?

[2017-11-06 05:47] #53 closed

[2017-11-06 06:29] lukasz-galka commented on #59
Hi @CybrZr00 and @jshupptechnologies, I am working on fix, should be available today.

[2017-11-06 07:04] jshupptechnologies commented on #59
@lukasz-galka  thanks a tonne !!

[2017-11-06 14:49] gtzinos opened #60 "Image stretch"
Hi guys,

Thanks for your great library. I am adding on the gallery multiple images with different height and i wondering if is it possible to make something like stretch the image view to display all of them with a unique height.

[2017-11-06 17:28] Faltek commented on #59
@lukasz-galka Have the same issue. I have a full spa application (angular 4.2.4) Thank you.

[2017-11-07 07:05] lukasz-galka commented on #59
Hi @CybrZr00, @jshupptechnologies and @Faltek, please check version `3.1.1` and let me know.

[2017-11-07 07:05] lukasz-galka commented on #58
Hi @jshupptechnologies, please check version 3.1.1 and let me know.

[2017-11-07 11:19] CybrZr00 commented on #59
Thanks @lukasz-galka it looks like the images are reloading in an infinite loop now (Seen in network tab and visible image reloads). Although I can now view all images in the preview!

[2017-11-07 12:05] lukasz-galka commented on #59
@CybrZr00 I can't see it. I have only one load for one image:

![image](https://user-images.githubusercontent.com/17024927/32492886-138d268e-c3bc-11e7-9855-133acb070ad7.png)

Could you show me your situation?

[2017-11-07 12:19] lukasz-galka commented on #60
Hi @gtzinos I am not sure if I understand you correctly but you can set `thumbnailsColumns` to images count. So if you for example have 7 images you can set 7 columns and all images will be visible.

You can also manage how image is positioned in thumbnail using option `thumbnailSize` and `NgxGalleryImageSize`. It works like css `background-size` https://developer.mozilla.org/en-US/docs/Web/CSS/ba

[2017-11-07 14:45] CybrZr00 commented on #59
@lukasz-galka Thats odd.  I went away, locked my computer, came back and my browser had crashed. Fired it up and it's working just fine now, loading only one image! I assume something was cached somewhere or just hadn't reloaded correctly. Sorry about that.

[2017-11-08 06:20] Faltek commented on #59
@lukasz-galka For me everything works fine. Thank you very much!

[2017-11-09 06:19] nishant0131 commented on #56
same issue is here.
this.galleryOptions = [
    {
      width: '400px',
      height: '300px',
 },
above code is not set the width and height of ngx-gallery-image container. The default height always set to 100%.

what is the another way to resize this container. @lukasz-galka  Pls mention the way or am i doing something wrong here.
![screenshot 2017-11-09 11 48 42](https://user-images.githubuserc

[2017-11-09 06:56] jshupptechnologies commented on #58
@lukasz-galka Thank you so much it's fixed now.

[2017-11-09 06:56] #58 closed

[2017-11-09 08:43] #59 closed

[2017-11-09 17:26] lukasz-galka commented on #56
Hi @nishant0131 with `width` and `height` options you are setting whole gallery size. `ngx-gallery-image` has height 100% if there is no `ngx-gallery-thumbnails`. If there are thumbnails, `ngx-gallery-image` has height 75% and `ngx-gallery-thumbnails` has 25%. These options are defaults, you can of course change them using options like `imagePercent` and `thumbnailsPercent`.

If something is not c

[2017-11-14 11:24] oplitnik commented on #43
I also need this feature,  do you have any plans on implementing it?

[2017-11-15 06:28] #60 closed

[2017-11-15 06:29] #56 closed

[2017-11-15 06:30] lukasz-galka commented on #43
Hi @oplitnik I will think today how I can implement this and let you know

[2017-11-15 21:16] euzu opened #61 "Massive picture reload from server on mouse move in preview mode"
When you are in preview mode and move the mouse over the picture, the image is reloaded from the server multiple times.
I found out that this is related to the `[src]` tag in the template of `ngx-gallery-preview.component.ts`.
I could fix this issue through changing it to `[src]="src"` and changing the assignment in the function `_show()`   to `this.src = this.getSafeUrl(<string>this.images[this.i

[2017-11-16 07:07] lukasz-galka commented on #61
Hi @euzu, I can't reproduce it. Do you have this behaviour on any demo example? https://lukasz-galka.github.io/ngx-gallery-demo/

Could you give me more info, maybe screen from console?

I would like to reproduce it before fixing.

[2017-11-16 11:42] euzu commented on #61
i have uploaded a short screen recording.
[https://ufile.io/m7hmo](url)

Your examples are working fine. Something in my setup is triggering this issue?
[code]
and the picture urls are
[code]

[2017-11-16 18:27] lukasz-galka commented on #61
I have created plunker with your options and imo everything is working fine https://plnkr.co/edit/nRN128BF0LIyNy0c5TsU?p=preview.

1. Could you try with other images? (you can take images from my demo)
2. Are you using angular-cli?
3. Are you using server side rendering?

[2017-11-17 15:25] bogacg opened #62 "Feature Request: Zoom Icon size & position [mobile]"
Zoom functionality is well done, however I think icons are small and not in optimal position for mobile usage.

Center position and bigger size would be a better fit when images are open in mobile size, or maybe even better a way to have some selection for position/size of these icons in config.

Pinch zoom is another option, though that one might me more complex to implement. (didn't read your so

[2017-11-18 13:47] euzu commented on #61
@lukasz-galka
1) its the same issue with other images.
2) yes i am using angular-cli
3) no i am not using server side rendering.

My setup is:
i have a spring boot application with REST api. Angular connects to this spring application and loads the images from there. The URI look like  http://<myapplication>/files/<uuid-of-the-picture>

[2017-11-19 08:30] lukasz-galka commented on #62
Hi @bogacg, at this moment you can override default styles, for example https://plnkr.co/edit/CtARb6xxrg2qZqGwSj53?p=preview

Is it ok for you or option will be better?

[2017-11-19 09:03] bogacg commented on #62
@lukasz-galka That helps, I'd still leave close button to left and rest (zoom in-out icons) center, doing so similar to your example in css might be cumbersome.
Maybe not urgent one but for future this option might be a good addition.

[2017-11-20 06:51] lukasz-galka commented on #61
Hi @euzu it has to be something with some package version, could you give me output of
```npm list --depth 0```

I could fix it using you suggestion but I would like to reproduce it to check. Does this bug block you?

[2017-11-20 06:57] lukasz-galka commented on #62
example with button on right https://plnkr.co/edit/ayVMHmGWMHS7zuV4i091?p=preview
I will think about some config.

[2017-11-20 07:27] euzu commented on #61
Hi @lukasz-galka , no it does not block me.
 Here the package list:
[code]

[2017-11-21 07:10] lukasz-galka commented on #61
@euzu I have added your changes in version `3.1.2` https://github.com/lukasz-galka/ngx-gallery/commit/403a61970c8cbc1963ad779c0273175d505fcb5b

[2017-11-21 12:46] euzu commented on #61
The fix solves the problem.
Thank you for your effort.

[2017-11-21 12:46] #61 closed

[2017-11-21 13:11] omar-nassar opened #63 "Image URL containing parentheses or space is not working"
Providing a URL that contains parenthesis (left or right) to NgxGalleryImage array, making the image to be blank.

**for example:**

[code]
when using the above block of code, the gallery will show a blank image.

**Edit** - Nov. 21, 2017 - 3:25 PM GMT :

Also if the image name contains a space it is not being handled by the library, so, I have to **encodeURI**(the-image-url-with-name-contains-spa

[2017-11-21 13:13] german-e-mas commented on #63
Interesting, I saw this problem too, but didn't thought it was this component. Nice catch @omar-nassar

[2017-11-21 16:23] aywiix opened #64 "Dynamic images deleting"
When the component comes to load many images at once, it consumes a lot of browser memory. For this reason I tried to remove some of the first images of the array, in such a way that it releases a little memory. When deleting the images, the component does not update the Thumbnails and it stops showing the images. You can release any function to update the thumbnails after deleting the first eleme

[2017-11-21 16:28] lukasz-galka commented on #63
Hi @omar-nassar, please check version `3.1.3`

[2017-11-22 07:20] omar-nassar commented on #63
Many thanks @lukasz-galka it is working perfectly now 👍

[2017-11-22 07:20] #63 closed

[2017-11-22 07:26] ChRonX13 commented on #63
@lukasz-galka i believe this change may have broken links that contain % signs. Using 3.1.3, reference images to Azure Blob storage with a SAS token (that contains % sign) doesn't work. I then dropped back to 3.1.2 and this seemed to fix the problem. Possible regression?

[2017-11-22 07:44] lukasz-galka commented on #63
@omar-nassar , @ChRonX13 please check version `3.1.4`. I have removed `encodeURI` and now I'm just replacing spaces with `%20`

[2017-11-22 07:47] lukasz-galka commented on #64
Hi @aywiix thumbnails should update after images array change, please check https://lukasz-galka.github.io/ngx-gallery-demo/#dynamic-images-change

Also please take a look on https://github.com/lukasz-galka/ngx-gallery/issues/6

If there still is a problem, let me know.

[2017-11-22 08:18] ChRonX13 commented on #63
back to loading ok with 3.1.4...thanks!

[2017-11-22 08:37] omar-nassar commented on #63
working fine. Thanks :)

[2017-11-22 12:25] Lijojohnka opened #65 "How to dynamically set the startIndex (Gallery options)"
i want to dynamically set the ngx-gallery options  startIndex  when clicking in the images listed in an html and initialize the gallery-images and options every-time in a model with that selected image index .

its only set the startIndex when initializing the ngx-gallery firsly.

             this.galleryOptions  = [
                          {  width: '600px', height: '400px', thumbnailsColumns:

[2017-11-22 12:31] Lijojohnka opened #66 "How to solve this and where should I import hammarjs?"
Error on while serve ...

Uncaught TypeError: Cannot read property 'HammerGestureConfig' of undefined
    at eval (eval at webpackJsonp.../../../../script-loader/addScript.js.module.exports (addScript.js:9), <anonymous>:1374:19)
    at eval (eval at webpackJsonp.../../../../script-loader/addScript.js.module.exports (addScript.js:9), <anonymous>:4:3)
    at eval (eval at webpackJsonp.../../../../sc

[2017-11-22 15:15] santosh-more opened #67 "because of aws s3 buckets signed url images are not visible into gallery"
this.galleryImages = [
      {
        small:"https://sal-ajp-intranet-dev.s3.ap-southeast-1.amazonaws.com/gallery/images/original/originalrzevqfvfio3389dk12berl005663maxresdefault.jpg?X-Amz-Security-Token=FQoDYXdzEBgaDHHdgrLZoFCfvDW4wiLBA22uAx1oBj7uyAu6BlECYCCo1GHMQ0ZX7XrKle8%2BExM4xUDekp6S13BA6St03rU67A6UddGIoLQEn1W4Pdn4N9kuWefyaRSD5ANlqkSJGi1c10SH1Wn66G2hjh8jVKdSVNdHvgClgXWGproheBw9QTxdEUdgefiu

[2017-11-22 16:50] lukasz-galka commented on #66
Hi @Lijojohnka

At first you have to install hammerjs
`npm install hammerjs --save`

and then import in component which is using gallery. You can see example in my demo app:
https://github.com/lukasz-galka/ngx-gallery-demo/blob/master/src/app/app.component.ts

If this is not working please give me more info. You can also create simple app and push to github or use plunker https://plnkr.co/edit/D1t

[2017-11-22 17:07] lukasz-galka commented on #67
Hi @santosh-more, which version do you use? Version `3.1.3` had a bug, but `3.1.4` works ok, example https://plnkr.co/edit/zGFwPs8SAVRzDoGGW24R?p=preview

[2017-11-22 18:02] lukasz-galka commented on #65
Hi @Lijojohnka, Would you like change all images and options after click on image which is not in gallery? For that imo you should use something like https://angular.io/guide/dynamic-component-loader

Or maybe you are trying to just change active image? More info will be useful.

[2017-11-23 04:10] ChRonX13 opened #68 "Possible to emit event when gallery is first loaded"
Currently the gallery component will emit an event when the image has been changed, which is great for reacting to when a user has changed an image they are viewing.

Is there currently a way for us to be notified when the first image has been loaded/selected in a similar fashion?

Perhaps as ```ngx-gallery.component.ts``` performs the call to ```ngDoCheck``` and the length of the image array tran

[2017-11-23 06:23] Lijojohnka commented on #66
Hi  @lukasz-galka

i had already install hammerjs in project and also import it in component.. but the error still remains,

when i try to re-install it , the below msg is shown in npm ..

D:\sampleApp>npm install hammerjs --save

sampleApp@1.0.0 D:\sampleApp
+-- UNMET PEER DEPENDENCY @angular/common@4.3.6
+-- UNMET PEER DEPENDENCY @angular/core@4.3.6
+-- UNMET PEER DEPENDENCY @angular/forms@4.3.6

[2017-11-23 08:02] lukasz-galka commented on #66
Hi @Lijojohnka, so gallery is working fine and there is problem only with hammerjs?
Could you give me output from `npm list --depth 0`

[2017-11-23 14:33] aywiix commented on #64
Hello @lukasz-galka   ,
Apologies, My question was not well done. What I wanted to explain, is that when more elements are removed than the amount in the thumbline, the thumline remains empty. it is updated, but remains empty even though there are elements in the image array. What I propose is to release some function to make update and also make a shift to the right of the images so that the thum

[2017-11-24 06:58] lukasz-galka commented on #68
Hi @ChRonX13, emiting change in this way can cause bugs for other people. Imo there are two options
1) emit other event
2) emit change event, but add additional option for that, something like

[2017-11-24 07:03] lukasz-galka commented on #68
Hi @ChRonX13, this change can cause bugs for other people. I can add new event `imagesChange`, is it ok for you? I will trigger this event inside `ngDoCheck`

[2017-11-24 07:11] ChRonX13 commented on #68
yep not a problem

[2017-11-24 08:46] Lijojohnka commented on #66
Gallery is working fine but the touch and gestures are not working .

[New Text Document (2).txt](https://github.com/lukasz-galka/ngx-gallery/files/1501028/New.Text.Document.2.txt)

[2017-11-24 08:54] Lijojohnka commented on #65
hi @lukasz-galka

actually i just give same images array but the index will change each time .

[2017-11-24 11:10] SlimDogs opened #69 "Lazy loading images should be implemented"
Nice plugin, but sadly it can't handle bigger amount of images... And usually use case for galleries is to contain a lot of photos. Please consider implementing some kind of logic which lazy loads images only on thumbnail slide (+ removing invisible thumbnails...).

Cheers

[2017-11-24 14:49] creever opened #70 "Link on the thumbnails"
Hi!
Is there any chance to put different link on each thumbnail? If a user click on one of the thumbnail it should navigate to somewhere else. As I saw there is no "issue" exists something like this.

Thanks you for your help and nice work btw!

[2017-11-24 16:14] Logic-Bits opened #71 "Z-Index 2000?"
z-index: 2000;

Messes up alot (eg. Bootstrap NavBar dropdowns).

Does it really need to be that high?

[2017-11-26 15:08] santosh-more commented on #67
I was using this version "ngx-gallery": "^3.1.3",
Ok man thats why I was facing the issue.
@lukasz-galka thanks a lot i'll check it and let you know.
Thanks once again

[2017-11-26 15:14] santosh-more commented on #67
@lukasz-galka Thanks it works.

[2017-11-26 15:53] #67 closed

[2017-11-26 16:28] lukasz-galka commented on #68
Hi @ChRonX13 please check version `3.2.0` and event `imagesReady` https://github.com/lukasz-galka/ngx-gallery/commit/c20e35413d2f10f45e021435cce855d1d933c1f5

[2017-11-26 16:39] lukasz-galka commented on #65
Hi @Lijojohnka, options are only for initialization. But you can use method `show` (availabe in version `3.2.0`). Example here https://plnkr.co/edit/zuAZnaGv36e5AKn1aPfr?p=preview

[2017-11-26 17:55] lukasz-galka commented on #70
Hi @creever please check versions `3.3.0` and option `linkTarget` and `thumbnailsAsLinks`. There is also new field `url` in https://github.com/lukasz-galka/ngx-gallery#ngxgalleryimage

[2017-11-26 18:05] lukasz-galka commented on #71
Hi @Logic-Bits, I can't change it now because it can cause errors for others. You can create new stacking context for gallery

[code]

More here https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_context

Alternatively you can change 2000 to other value

[code]

[2017-11-26 18:30] Logic-Bits commented on #71
Thanks, yes that was what I ended up using. Maybe its a good idea to update it in the next major version. Just an idea.

[2017-11-27 06:33] lukasz-galka commented on #71
@Logic-Bits, true :)

[2017-11-27 06:33] #71 closed

[2017-11-27 08:29] VigneshVaidyanathan opened #72 "Help with rendering images from a shared location outside of assets."
Hi,

I am new to Angular4 and I am using this to render a image preview options. The images are present in a shared location which is in a separate drive and I get only the URL. I am not able to access that files because it shows 'Not allowed to load local resource:' error when accessing. I want to know if there is any work around for that or if there is option to set the gallery images with the b

[2017-11-27 19:42] animator013 commented on #43
+1

[2017-11-28 12:41] lukasz-galka commented on #72
Hi @VigneshVaidyanathan you can use base64 images like normal url. If you can open url in browser it should also work in gallery.

[2017-11-28 14:41] lukasz-galka commented on #69
@SlimDogs true, I will think about it

[2017-11-30 12:33] #68 closed

[2017-11-30 12:33] #65 closed

[2017-11-30 12:33] #70 closed

[2017-11-30 12:34] #72 closed

[2017-11-30 20:48] tomscript commented on #69
came here looking for this. glad to see its being considered :)

[2017-12-01 06:59] kamleshpaliwal-tudip opened #73 "image url having small brackets '()' are not rendering."
Hi,

I have used ngx-gallery library in my project. Actually whenever there are small brackets in my img src url ngx-gallery library is failing to render that image. For example if my URL is like 'uploads/image-(1).jpeg' than the image is not rendering.Please anyone can provide me help.
Any help is appreciated.
Thanks.

[2017-12-01 07:10] lukasz-galka commented on #73
HI @kamleshpaliwal-tudip Which version do you use? Imo this was fixed in version `3.1.4`.

[2017-12-01 09:14] lukasz-galka commented on #73
@kamleshpaliwal-tudip you can check current version using
`npm list view ngx-gallery`

if is smaller please install `3.1.4` or latest and let me know

[2017-12-01 13:35] kamleshpaliwal-tudip commented on #73
@lukasz-galka I updated to latest one, now it's working thank you ver much.

[2017-12-01 14:00] #73 closed

[2017-12-04 16:46] danielfnz opened #74 "How change galleryOptions after ngInit?"
Hello, i need to set thumbnailsRows  dynamic after  load data from firebase and change the galleryOptions by length.
How do it? the galleryOptions dont reflesh

@lukasz-galka

[2017-12-04 21:39] aywiix commented on #64
Hello @lukasz-galka
The only way I found to solve the problem was using

$("ngx-gallery-thumbnails div.ngx-gallery-thumbnails").attr("style", "left: calc(-0% - 0px);");

For what the thumbline make the shift to the right automatically.

[2017-12-04 22:24] aywiix commented on #64
I see that the problem with the index is in the function  "validateIndex(): void "

 if (this.order === NgxGalleryOrder.Column) {
            newIndex = Math.floor(this.selectedIndex / this.rows);
        } else {
            newIndex = this.selectedIndex % Math.ceil(this.images.length / this.rows);
        }

because after removing some images from the beginning of the array the index is out of r

[2017-12-05 06:54] lukasz-galka commented on #74
Hi @danielfnz you can wait for images (with ngIf) and then initialize gallery, example here https://plnkr.co/edit/m48e9TQclY3Wn9nK2pKN?p=preview

I haved added setTimeout to imitate asyc request to firebase.

`<ngx-gallery *ngIf="galleryImages" ...`

[2017-12-05 07:19] lukasz-galka commented on #64
Hi @aywiix I am working on lazy loading and it will be ready probably today, imo this will fix also your issue.

[2017-12-05 07:42] lukasz-galka commented on #69
@SlimDogs @tomscript please check version `4.0.0`

[2017-12-05 07:42] lukasz-galka commented on #64
@aywiix please check version `4.0.0`

[2017-12-05 15:54] rahulasharm opened #75 "how to bind data from JSON response ArrayList to galleryImages list using for loop"
how to bind data/property from JSON response ArrayList to gallery images small, medium and big properties using for loop

[2017-12-05 23:01] danielfnz commented on #74
Thanks, it's works to me.

[2017-12-06 06:45] #74 closed

[2017-12-06 06:47] lukasz-galka commented on #75
Hi @rahulasharm could you show me your code? What is not working? Do you have some error?

[2017-12-06 07:37] rahulasharm commented on #75
@lukasz-galka
this.imageDataPoints  is my dynamic ArrayList, and I want to set the media_url property to  this.galleryImages = [
      {
        small: '',
        medium: '',
        big: '',
      }
    ];
please help me to bind this using for loop or any other solution.

this.imageDataPoints = [
   {
      "user_id":11,
      "media_type":"IMAGE",
      "media_uri":"https://www.googleapis.com/d

[2017-12-06 13:03] rahulasharm commented on #75
i want like this:
 this.imagesData = [
    {
       "small":"https://www.googleapis.com/download/storage/v1/b/dev_platform_media_ingest/o/155%2Ftemp_photo.png?generation=1512207708761660&alt=media",
       "medium":"https://www.googleapis.com/download/storage/v1/b/dev_platform_media_ingest/o/155%2Ftemp_photo.png?generation=1512207708761660&alt=media",
       "big":"https://www.googleapis.com/downl

[2017-12-06 15:31] german-e-mas commented on #75
This sounds more of a code issue than a Gallery one.
I'd try something like:

[code]
Again, I don't think this issue is related to the gallery.

[2017-12-07 11:21] kamleshpaliwal-tudip opened #76 "Images are displaying blurry."
I have used ngx-gallery library.Actually in thumbnail strip images are rendered beautifully but above thumbnail strip they  are not displaying well actually displaying blurry images. Can you please help me why it is happening?

[2017-12-07 14:11] gryole opened #77 "Update to angular 5"
When are you planning to update to angular 5?

[2017-12-07 16:41] lukasz-galka commented on #77
Hi @gryole I din't check my lib w with angular 5, is there any error/bug?

[2017-12-07 16:45] lukasz-galka commented on #76
Hi @kamleshpaliwal-tudip
1. maybe you are using to big images?
2. Are images in my demo also blured? https://lukasz-galka.github.io/ngx-gallery-demo/
3. Could you put your images into plunker demo https://plnkr.co/edit/D1tdBCeFo6L9tMOCOb9p?p=preview ?

I need example to work on fix.

[2017-12-07 18:51] TonganJedi commented on #76
I was having similar issues until I realized my images were being stretched. Check to see if your images are too small for your preview window size.

[2017-12-07 19:08] TonganJedi opened #78 "Apply HTML tags to description string? (Accessibility/508)"
Is there a way to apply html tags to the description string? We're using the description property to display citation information and would like to use the < cite > tag on the string.

[2017-12-09 08:39] #69 closed

[2017-12-09 08:39] #64 closed

[2017-12-09 10:10] SlimDogs opened #79 "Sliding should stop when user click on image to preview it"
Hey,

Very good work on the plugin and thanks a lot for the lazyLoading implementation!

I noticed that there is a small issue. If I have:
[code]
options and I click on one of the  images to open the preview element, it still keeps playing in the background... I suppose ideally autoplay would be paused and resumed once viewer closes the preview.

Cheers

[2017-12-09 14:54] Parinyadahmi opened #80 "How to config SystemJS in Angular-cli"
compiler.es5.js:1690 Uncaught Error: Template parse errors:
Can't bind to 'options' since it isn't a known property of 'ngx-gallery'.
1. If 'ngx-gallery' is an Angular component and it has 'options' input, then verify that it is part of this module.
2. If 'ngx-gallery' is a Web Component then add 'CUSTOM_ELEMENTS_SCHEMA' to the '@NgModule.schemas' of this component to suppress this message.
3. To

[2017-12-10 09:56] lukasz-galka commented on #78
Hi @TonganJedi, starting from version `4.1.0` you can use html in description.

[2017-12-10 10:12] lukasz-galka commented on #79
Hi @SlimDogs , please check version `4.1.1`

[2017-12-10 10:19] lukasz-galka commented on #80
Hi @Parinyadahmi, this doesn't work https://github.com/lukasz-galka/ngx-gallery#systemjs ? In plunker demo I am using systemjs and works fine https://plnkr.co/edit/D1tdBCeFo6L9tMOCOb9p?p=preview

[2017-12-11 09:00] gryole commented on #77
I updated my project to angular 5 and looks like there is no issues.

[2017-12-11 09:00] #77 closed

[2017-12-11 16:34] #75 closed

[2017-12-11 16:34] #66 closed

[2017-12-11 16:34] #62 closed

[2017-12-11 21:32] TonganJedi opened #81 "Bug: Clicking on preview image does not show large image in Firefox "Quantum""
It appears the gallery HTML is injected into the DOM as expected (verified in console), but the spinner is not going away after the large image is loaded.

[2017-12-12 10:50] nico281 opened #82 "Set thumbnails on a side :question"
Hi Lukasz, how are you?

Its possible to set the thumbnails on a side? left or right.
cheers!!!
Nico.

[2017-12-13 06:39] lukasz-galka commented on #82
Hi @nico281, unfortunately no, I will add this to features/improvements list.

[2017-12-13 06:41] lukasz-galka commented on #81
Hi @TonganJedi could you give me link to this large image or set in plunker https://plnkr.co/edit/D1tdBCeFo6L9tMOCOb9p?p=preview ?

[2017-12-13 19:09] TonganJedi commented on #78
I'll test it out. Thanks!

[2017-12-13 19:58] TonganJedi commented on #81
Additional testing has demonstrated this might be a local browser config issue instead. Let's close this for now. Thank you!

[2017-12-14 06:28] #81 closed

[2017-12-14 18:07] TonganJedi opened #83 "Change Images Without Destroying/Re-creating Parent Component"
Is there a way to refresh the carousel with new images and have the carousel reset to the first image without recreating the parent component?

Our app allows users to switch between different search targets: some have associated images, some don't. We need to be able to actively refresh without reloading the parent.

[2017-12-14 18:22] TonganJedi commented on #83
I should mention that throwing an empty array at the carousel before re-loading it with new images seems to work, but if the user scrolled the thumbnail bar on one set of images past the range limit on the subsequent image set (say the first set has 20 and the second set has 5), the thumbnail bar does not reset to index 1 and it appears missing (has a negative left style).

[2017-12-15 06:22] lukasz-galka commented on #83
@TonganJedi did you try to use method `show` https://github.com/lukasz-galka/ngx-gallery#methods ?
you can set new images and after that just run `show(0);`

[2017-12-15 06:23] #76 closed

[2017-12-15 06:23] #78 closed

[2017-12-15 06:23] #79 closed

[2017-12-15 16:20] TonganJedi commented on #83
How do you invoke these methods? They're not methods on either the Image or Options arrays. I tried to look up the code for your Show Prev/Show Next buttons, but all I see is the Options code.

[2017-12-15 16:27] german-e-mas commented on #83
@lukasz-galka provided this Plunker when the methods were included: https://plnkr.co/edit/QAI2sFMtaMpQpfV00aDC?p=preview Check the template at the `app.component.ts`

Hope this helps you @TonganJedi

[2017-12-15 16:29] german-e-mas commented on #83
I agree though, the `Show code` button in the demo page is not very useful in these cases, as it only shows the gallery options.

[2017-12-15 17:01] TonganJedi commented on #83
Thank you very much. That clears things up concerning the buttons. Is there a way to programatically invoke the show method in the component? Or are these methods only accessible in the DOM?

[2017-12-15 18:08] TonganJedi commented on #83
`import { Component, Input, OnInit, AfterViewInit, ElementRef, ViewChild } from '@angular/core';`

`@ViewChild("gallery", { read: ElementRef }) gallery: ElementRef;`

`ngAfterViewInit(): void {
        this.gallery.nativeElement.show(0);
    }`

I'm assuming the gallery element has an id of "gallery". It's likely I'm trying to access the element before it exists, so I may need to use a different h

[2017-12-15 20:53] TonganJedi commented on #83
It doesn't appear that the show method will work in this case. If you scroll right through a large number of thumbnails, then reload the carousel with fewer images, if the view isn't re-initialized the css stays where it was before the carousel was reloaded. The new images are rendered off-screen.

![image](https://user-images.githubusercontent.com/30245030/34059690-387bbe3e-e19d-11e7-8021-fb8d517

[2017-12-15 21:05] TonganJedi commented on #83
For the time being, I've implemented code that will kill any style attributes in the tag after the carousel is reloaded:

`document.getElementsByClassName('ngx-gallery-thumbnails')[0].removeAttribute('style');`

Any chance you could add a reset on the "left" property when the carousel gets a new array passed to it?

[2017-12-16 08:31] lukasz-galka commented on #83
@TonganJedi, yes, I will add this

[2017-12-18 06:31] #80 closed

[2017-12-18 17:47] pierre03 opened #84 "Base64 image for different size with ngx-gallery"
Hello,
I have one base64 image,  i want to use ngx-gallery to display the same image with different size, can you give me an example, please?
Thank you.

[2017-12-19 06:41] lukasz-galka commented on #84
Hi @pierre03
[code]

?

[2017-12-19 13:56] pierre03 commented on #84
Thank you, but how can it work with async observable object?
I have an error:
`Can not read property 'map' of undefined at NgGalleryComponent.ngOnInit......`

[2017-12-19 13:59] german-e-mas commented on #84
@pierre03 , that error was mentioned in this issue: #4 . Perhaps it can help you.

[2017-12-19 14:22] pierre03 commented on #84
Thank you, i got it, it works with static images.
But the base64 images cannot be displayed, when i take them from an async answer.

HTML:
[code]

TS:
[code]

[2017-12-19 15:03] pierre03 opened #85 "Small pictures outside of the parent panel"
Hello,
I want to display some pictures in the left side of the page, but it's always outside of the panel which is in white beakground color.
Can someone tell me which property should be updated to get the good size, please,

<img width="274" alt="2017-12-19 15_58_26-webapp" src="https://user-images.githubusercontent.com/18083828/34162954-b6816ff0-e4d5-11e7-9492-98f5ec0bcbaa.png">

[2017-12-19 15:28] german-e-mas commented on #85
Can you post the code? I can't tell how are you implementing it.

[2017-12-19 15:41] pierre03 commented on #85
Thank you, here is the code TS:

[code]

[2017-12-19 16:07] lukasz-galka commented on #85
default width is `400px` https://github.com/lukasz-galka/ngx-gallery#ngxgalleryoptions
you can set any size or just `100%`

[code]

[2017-12-19 16:12] lukasz-galka commented on #84
could you show your issue on plunker? https://plnkr.co/edit/D1tdBCeFo6L9tMOCOb9p?p=preview
you can use `setTimeout` to emulate async function

Do you have any error? Is base64 image work without async function?

[2017-12-19 16:18] pierre03 commented on #85
Hello,
Thank you for your response, but it changes nothing, in the code, i have tried to set the width to 50%, but it use always the default width.
I want to display juste 2 images, but with thumbnailsColumns: 2, it doesn't work.
Do you have any idea, please?

[2017-12-20 03:07] TonganJedi commented on #85
Can we assume you are putting the code in the commented section up in the first option block?

[2017-12-22 15:02] jlaverdure-talis opened #86 "Avoid cache picture"
Hi,

First, thanks for this great module.

I just have one problem about it.

Use of the module :
I take profit of the NgxGalleryImage[] functions to add new images (via backend + push function) and delete them (via splice function).
The URL of the NgxGalleryImage contained in the array will **never change**, but the picture in the URL can change. (the backend server is doing all that stuff)
For e

[2017-12-23 14:38] bogacg opened #87 "Feature Request: `routerLink` property for NgxGalleryImage"
Hi again;

I've just had this idea: I think it would be a good addition to have a `routerLink`  property in NgxGalleryImage type, so that when clicked, instead of requesting/defining in code a full URL, we can just define relative path.

[2017-12-30 13:17] #84 closed

[2017-12-30 13:17] #85 closed

[2017-12-30 13:43] lukasz-galka commented on #86
Hi @jlaverdure-talis this is not because of my gallery. Browser caches files and this is standard behaviour. You can avoid caching files by adding timestamp to url, for example:

[code]

Alternatively you can set appropriate headers https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control
more about caching here https://developer.mozilla.org/en-US/docs/Web/HTTP/Caching

[2017-12-30 15:36] lukasz-galka commented on #83
@TonganJedi fixed in `4.1.2`. Now I reset position to default after every images array change

[2018-01-01 23:02] TonganJedi commented on #83
Thank you, sir!

Regards,

Lotu Moeloa

On Sat, Dec 30, 2017 at 8:36 AM, Łukasz Gałka <notifications@github.com>
wrote:

[2018-01-02 07:34] #83 closed

[2018-01-04 07:46] laoniustudio opened #88 "the image shows very slow"
Hi, first thanks for your lib, very useful
I have 2 questions:
1, I do not know when i click to open preview of the image, it shows very slow, wait about 1-2 mins, i set the small,medium and big to be the same image.
2, when i change the spiner icon to LineAwesome Icons: la la-spinner, it did not show, but it works for the arrowNextIcon
please help, thanks

[2018-01-04 08:45] lukasz-galka commented on #88
Ji @laoniustudio

1) I don't see this behaviour. here on plunker you can see that I also using the same image for small, medium and big https://plnkr.co/edit/nw2PHKNqtd3YPeqsMFAS?p=preview
Could you fork my plunker and try to reproduce your issue?

2) It depends which file you use. If you use file `line-awesome-font-awesome.css` you should use font awesome classes, so `fa fa-spinner`. If you use `

[2018-01-04 09:22] laoniustudio commented on #88
thanks, i will take a look at plunker. the la-spinner shows, but how to
make it spin?

On Thu, Jan 4, 2018 at 12:45 AM, Łukasz Gałka <notifications@github.com>
wrote:

[2018-01-04 09:33] lukasz-galka commented on #88
font awesome has special classes for this, please take a lot on section `Animated Icons` here http://fontawesome.io/examples/

Default classes for gallery spinner looks like `fa fa-spinner fa-pulse fa-3x fa-fw`
https://github.com/lukasz-galka/ngx-gallery#ngxgalleryoptions

[2018-01-04 12:29] SLK01 opened #89 "Not so much an issue but question..."
First off I really love what you'd done with this component. The best I saw todate.

I like to use this for my family website (personal), but I added some other features to my album as the users select individual thumbnails of a picture, I like to enable them with tagging the picture or show more details about the picture and so on. I am trying to learn how to latch on to a select event of this co

[2018-01-04 12:55] lukasz-galka commented on #89
hi @SLK01, please take a look on https://plnkr.co/edit/oVm8WjsfT9BnNa9mLjx6?p=preview
you can select images and watch `change` event

[2018-01-04 14:12] SLK01 commented on #89
Thank you so much ... again a great component and thanks for developing it.

[2018-01-04 14:12] #89 closed

[2018-01-04 20:56] DMcNamara opened #90 "No instructions for Using Locally During Development"
Hi,

I'm starting to work on a few additions to this gallery (I'll make PRs when they're done), but I'm not able to figure out how to include my changed local copy into an existing Angular app for testing. I've done `npm run build` and gotten a `/dist` folder, which seems right. Then in package.json I added `"ngx-gallery": "file:../ngx-gallery/dist"` and installed. Doing an ng serve with this thro

[2018-01-05 00:59] SouhaibBenFarhat opened #91 "Where to import hammerjs?"
Hi guys, i'm trying to integrate ngx-gallery with my app and by reading the documentation they said that for swiping between images hummerjs is required, i can't find out where to import.

should i import hummerjs inside app.module or inside my component?

[2018-01-05 06:59] lukasz-galka commented on #91
Hi @SouhaibBenFarhat, inside component

[2018-01-05 07:32] SouhaibBenFarhat commented on #91
Thank you lukasz, your module is awesome, but is there any option that allow user to show directly the preview by clicking on the thumbnail?

[2018-01-05 07:34] lukasz-galka commented on #91
Thumbnail will open preview if there is no image, you have to set `image` option to `false`

[2018-01-05 07:42] SouhaibBenFarhat commented on #91
Done. Big thanks.

[2018-01-06 08:53] sherry9872 opened #92 "Ngx-gallery not working with angular 5 ng serve"
Getting error Uncaught TypeError: Cannot read property 'HammerGestureConfig' of undefined.
In the same application angular material is working fine.

[2018-01-06 09:36] #91 closed

[2018-01-06 09:36] #86 closed

[2018-01-07 00:44] sloke opened #93 "Dynamic images not showing..."
Hi there:

I have a Photo Album with many directories and each directory contains many images, so I have a PhotoAlbum Component that recursively call an Express Route to get the image names from the directory. I used to have a Bootstrap Carousel component which was working but I replaced since then with ngx-gallery (cause I really like the presentation of this component). So each time a directory

[2018-01-07 09:27] lukasz-galka commented on #92
Hi @sherry9872

I have created new angular 5 app and everything works fine

[code]

My node, cli, angular versions:

[code]

Could you create example project with your issue? I need more info or example to help.

[2018-01-07 09:58] lukasz-galka commented on #93
Hi @sloke imo you code looks good. Do you use latest version? Could you paste output from `ng -v` and ` npm list view ngx-gallery`? Could you check html of gallery, are there new images?

In demo page there is example with dynamc images https://lukasz-galka.github.io/ngx-gallery-demo/#dynamic-images-change and this example works.

[2018-01-07 10:52] lukasz-galka commented on #90
Hi @DMcNamara you can use `npm link`, example usage here in `angular-cli` documentation https://github.com/angular/angular-cli#development-hints-for-working-on-angular-cli

[2018-01-07 10:53] lukasz-galka commented on #87
@bogacg thanks for suggestion, I will think about it :)

[2018-01-07 13:08] sloke commented on #93
Can I see the code for your Dynamic Images Change page?

Here is the info you asked for:
	$ ng -v
	Angular CLI: 1.1.2
	Node: 6.11.4
	OS: Linux x64
	@angular/animations: 4.2.3
	@angular/common: 4.2.3
	@angular/compiler: 4.2.3
	@angular/compiler-cli: 4.2.3
	@angular/core: 4.2.3
	@angular/forms: 4.2.3
	@angular/http: 4.2.3
	@angular/platform-browser: 4.2.3
	@angular/platform-browser-dynamic: 4.2.3
	@

[2018-01-07 13:14] sloke commented on #93
Also ... if a directory has 250 images ... is there a way to only load images that are currently being displayed (Lazy Loading..) ?

Thanks for your support.

[2018-01-08 07:41] faribajpr opened #94 "how to implement a button to close image preview"
hi, i'm new in angular  and i'm using ngx-gallery!in my gallery i can preview images in fullscreen mode by default but there is no close button! i don't know how to implement this button! how can i do in only in one component.ts file?
 this is part of html:

`<div fxLayout="row" fxLayoutAlign="center center" class="mt-1">

              <a class="chevron" (click)="gallery.showPrev()" disabled="!ga

[2018-01-08 07:47] lukasz-galka commented on #94
Hi @faribajpr this components uses font awesome for icons, more here https://github.com/lukasz-galka/ngx-gallery#prerequisites

if you dont't use font awesome, you can use your own icons and pass class for close button to component using option `closeIcon `, more here https://github.com/lukasz-galka/ngx-gallery#ngxgalleryoptions

[2018-01-08 07:49] lukasz-galka commented on #93
@sloke, lazy loading is enabled by default, you can disable it using option `lazyLoading`, more here https://github.com/lukasz-galka/ngx-gallery#ngxgalleryoptions

my code is available on github, please take a look at https://github.com/lukasz-galka/ngx-gallery-demo/blob/master/src/app/app.component.ts#L218

in this example I am using methods `changeImages`, `addImage` and `removeImage`

[2018-01-08 08:16] faribajpr commented on #94
oh thanks a lot @lukasz-galka!! its's ok now!!
and how can i change the icon's color?

[2018-01-08 09:02] #94 closed

[2018-01-08 10:45] santhoshrajuvysyaraju opened #95 "how can i add mutiple images dynamically using a loop"
hi i want to add images dynamically to the gallery images variable how can i assign can you have solution to assign images dynamically the variable mentioned in your application

[2018-01-08 10:52] santhoshrajuvysyaraju opened #96 "what can we do if we have multiple images that will load dynamically"
hi i want to add images dynamically to the slider. how can i create gallery images dynamically

[2018-01-08 17:02] lukasz-galka commented on #95
@santhoshrajuvysyaraju check closed issue, this was fixed many times. If there still is a problem please show your current code.

[2018-01-08 17:02] lukasz-galka commented on #96
@santhoshrajuvysyaraju check closed issue, this was fixed many times. If there still is a problem please show your current code.

[2018-01-08 17:25] faribajpr opened #97 "what does braces mean in ngx-gallery?"
this is the code in example of ngx-gallery :
`this.galleryOptions = [
            {
                width: '600px',
                height: '400px',
                thumbnailsColumns: 4,
                imageAnimation: NgxGalleryAnimation.Slide
            },
            // max-width 800
            {
                breakpoint: 800,
                width: '100%',
                height: '600px',

[2018-01-08 17:51] DMcNamara commented on #90
That worked perfectly, thanks!

[2018-01-08 17:51] #90 closed

[2018-01-08 20:24] TonganJedi opened #98 "Styling Icons (Medium Image v. Large Image Icons)"
I was adjusting the CSS on the arrows to play with shape and color when I noticed an irregularity between the icons used on the medium and large images.

`ngx-gallery /deep/ .ngx-gallery-arrow {
    color: black;
    background-color: goldenrod;
    border-radius: 50%;
    font-size: 50px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;

[2018-01-08 20:32] TonganJedi commented on #98
Something else I noticed--I can change the font-size attribute (as you can see from the previous post), but it only affects the medium image icons. The large image icons stay the same. Yet other css attributes DO affect the large icons. It's annoyingly inconsistent.

Appreciate any guidance you might have.

[2018-01-08 20:39] TonganJedi commented on #98
Here's what the large icons look like if I set a hard 25px height/width on the icons (required to center and round their backgrounds):

![image](https://user-images.githubusercontent.com/30245030/34691229-33f0b16e-f479-11e7-9d79-f9263b289ef0.png)

Unsure why the arrow is shoved into the side of the browser window.

[2018-01-08 21:47] TonganJedi commented on #98
We could use a way to manipulate the small image icons separately from the other icons as well.

[2018-01-08 22:11] TonganJedi commented on #98
Turns out that odd 1 px offset only appears in Chrome. IE11 and Firefox don't display it.

[2018-01-09 03:21] ericcancil opened #99 "Question: setting size of preview"
Preview always seems to be 400 x 400 no matter what

Here is how I am doing settings

[code]

[2018-01-09 03:32] SLK01 commented on #93
Ah... I found the issue. It is not the component issue, it was the URLs I was creating dynamically when each of the sub-directories were selected. I got that corrected and it is working.

One other thing you can help me. I'd broken the screen to two parts, col-9 for ngx-gallery and col-3 for image info and rating/tagging etc. but the component doesn't show images. For that I have to give Width/Hei

[2018-01-09 04:25] santhoshrajuvysyaraju commented on #95
here is my code posted on stack overflow .

Please  see the below link.

https://stackoverflow.com/questions/48151133/how-to-assign-part-of-string-data-to-an-array-in-angular5

help me to solve

[2018-01-09 04:31] santhoshrajuvysyaraju commented on #96
my images are contained in json data that retrived from api url . those data displayig only in browser and i dont know to use those data inside the my typesript. i have coded some how . please check the link  contains my code.

https://stackoverflow.com/questions/48151133/how-to-assign-part-of-string-data-to-an-array-in-angular5

[2018-01-09 05:37] leeyanze opened #100 "Question: How do I use a SafeURLResource in GalleryImage"
Hi,

I have tried
[code]

But encountered
[code]

Is it possible to use SafeURLResource in GalleryImage?

[code]

Thanks!

[2018-01-09 06:41] lukasz-galka commented on #99
Hi @ericcancil, do you use Angular Material? https://github.com/lukasz-galka/ngx-gallery#angular-material

[2018-01-09 06:43] ericcancil commented on #99
I do, and this is at the top of my primary css file

[code]

[2018-01-09 06:48] lukasz-galka commented on #99
There is a chance that other elements also has invalid transfrom property, which version of angular material do you use and which components?

[2018-01-09 06:49] ericcancil commented on #99
[code]

[code]

[2018-01-09 06:54] lukasz-galka commented on #93
@SLK01 you can also set contain to thumbnails, using option `thumbnailSize`. You can also change style of arrows uysing css, you can find examples in closed issues.

If there still is a problem please add some image with example.

[2018-01-09 07:31] lukasz-galka commented on #99
I have created simple test app with

[code]

here you can see that preview has width/height 100% of screen

![1](https://user-images.githubusercontent.com/17024927/34709265-cc84eb0a-f516-11e7-9090-7e582c1884c7.jpg)
![2](https://user-images.githubusercontent.com/17024927/34709266-cc9f91b2-f516-11e7-9f3e-f1af54b07c56.jpg)

Could you create simple app with angular meterial and my gallery with this is

[2018-01-09 11:12] SLK01 commented on #93
Actually by turning the background of the div tag that contains the ngx-gallery to some darker color helps with the arrows to pop up. thumbnailSize contain helped, thank you. Now I have to play with turning the slideshow on dynamically as well as removing the thumbnails when there is only one picture in the directory. All set, thank you so much.

[2018-01-09 13:24] #93 closed

[2018-01-10 03:46] SLK01 opened #101 "Change GalleryOptions"
Hi there ...

I am trying to modify the galleryOptions dynamically such as "imageAutoPlay" based on a button click event or remove Thumbnails ... but it doesn't seem to work. Is there a trick to doing this right?

Thanks

[2018-01-10 06:57] lukasz-galka commented on #97
@faribajpr with `breakpoint` option  you can define different behaviour for responsive. So in your example gallery will have width 100% if screen is smaller than 800px and will have width 600px if screen is bigger than 800px

[2018-01-10 07:29] lukasz-galka commented on #100
@leeyanze true, I will try to fix it.

[2018-01-10 08:19] faribajpr commented on #97
i understand now!tnx a lot!

[2018-01-10 09:05] leeyanze commented on #100
Thanks! =D

[2018-01-10 15:18] jlaverdure-talis commented on #86
Hi lukasz-galka, this is an awesome solution you got there, it worked perfectly.
Thank you for your answer.

[2018-01-12 09:57] santhoshrajuvysyaraju commented on #95
any idea to solve the issue

[2018-01-12 13:45] lukasz-galka commented on #95
please take a look on closed issues, for example https://github.com/lukasz-galka/ngx-gallery/issues/75

[2018-01-13 17:16] #88 closed

[2018-01-14 13:32] SLK01 commented on #101
Hi @lukasz-galka:

You answered something like this in a different thread and suggested to get a reference of the gallery and call the methods on the reference. I am quoting from that thread,

When I do something like this, I get **_co: gallery** is undefined. Yet this works in the plunker you show. What am I doing wrong?

Thanks

[2018-01-14 13:58] SLK01 commented on #101
OK ... I found the issue after a few more Google threads ... the problem was the conditional reference variable, I just had to put the ngIf condition all the way to the top of the <div> and when the condition is met it is available to all within that <div> tag so all set.

[2018-01-14 13:58] #101 closed

[2018-01-15 13:20] cdr72ex commented on #97
I know that you closed the issue, but I hope that you see this again. I had the same question about the different braces. Would you please add some information to your README to clarify what the different braces do?

[2018-01-16 04:01] santhoshrajuvysyaraju commented on #95
thanks but the data was not passing it haven't shows me any output

[2018-01-16 06:43] lukasz-galka commented on #92
no activity

[2018-01-16 06:43] #92 closed

[2018-01-16 06:44] lukasz-galka commented on #99
no activity

[2018-01-16 06:44] #99 closed

[2018-01-19 14:09] eugene-sedykh opened #103 "Custom thumbnail template"
Hi!
Is there any possibility to customize thumbnail template?
I want to have an icon (times) in a corner of a thumbnail and fire some ImageDeleteEvent clicking on it.
Could you please advise how I can achieve such behavior?
I tried to extend NgxGalleryThumbnailsComponent to change metadata template, but to make it work we need also to modify NgxGalleryComponent template. And it's getting a bit mes

[2018-01-19 16:04] vh13294 opened #104 "CSS style on active thumbnail"
Hi,

Is there any way I can add CSS style to the thumbnail when it is active?
Like for example changing the opacity or showing a box-border.
Note*: I can keep track of the current active thumbnail using (change) with $event.

[2018-01-20 10:10] karljv opened #105 "Any way to inject custom templates?"
Hello

Your module is awesome, but I need to have action buttons on top of the image thumbnail. Is there any way to inject any custom components into the ngx-gallery?

[2018-01-20 10:11] karljv commented on #105
![screen shot 2018-01-20 at 12 10 49](https://user-images.githubusercontent.com/3843461/35182323-03158d9c-fddb-11e7-9cd8-aa7b4e696a3a.png)

[2018-01-20 11:51] wmiroslav opened #106 "Lazy loading with imageInfinityMove"
Hi,
plugin works great. But is there a possibility to set a lazy load only one(current) image if the imageInfinityMove set to true? Now, it's load 3 images: current image, one before and one after...

[2018-01-21 08:13] lukasz-galka commented on #104
Hi @vh13294, active thumbnail has class `ngx-gallery-active`, example here https://plnkr.co/edit/L4J9kNzYI7fSodG7eD6p?p=preview

[2018-01-21 08:20] lukasz-galka commented on #104
I have created also `Styling` section in readme https://github.com/lukasz-galka/ngx-gallery#styling

[2018-01-21 10:56] lukasz-galka commented on #106
Hi @wmiroslav at this moment there is no option for that, I will try to implement this, but I am not sure when.

[2018-01-21 11:20] lukasz-galka commented on #98
@TonganJedi, yes you can specify inner component in selector

[code]

In version `4.2.1` I have fixed issue with font size

[2018-01-21 11:54] vh13294 commented on #104
Thanks you so much!
I really appreciate it.

[2018-01-21 11:54] #104 closed

[2018-01-21 15:56] benoitmugnier opened #107 "Issue on V4.2.1"
ERROR in /node_modules/ngx-gallery/ngx-gallery.d.ts.NgxGalleryComponent.html (8,1254): Property 'previewSelect' is private and only accessible within class 'NgxGalleryComponent'

[2018-01-21 18:45] german-e-mas commented on #105
In my opinion, that doesn't depend on the gallery itself. You can always include the gallery inside a container and have buttons above it.

Take a look at this: https://plnkr.co/edit/dcJDRGc4fjPVJYOJp2Fs?p=preview

In the template, there is the following:
[code]

Just style things up, and you'll have something similar to what you want.

Hope this helps.

[2018-01-21 21:06] TonganJedi commented on #98
Thank you! I'll do some testing on it (assuming I have a job on Monday, which is in doubt).

[2018-01-22 06:43] lukasz-galka commented on #107
Hi @benoitmugnier, please checj `4.2.2`

[2018-01-22 06:50] benoitmugnier commented on #107
thanks a lot for the fix!

Have a good day!

[2018-01-22 06:50] #107 closed

[2018-01-22 09:50] ggeorgakopoulos commented on #71
What if I have a fixed navbar with `z-index: 100` ?
If I use
[code]
Then even preview will be under the navbar, so a part of the image will be covered (incl the close button)

[2018-01-22 09:53] lukasz-galka commented on #71
@ggeorgakopoulos please create new issue, this is closed

[2018-01-22 14:21] ggeorgakopoulos commented on #71
@lukasz-galka I would like to apologise for commenting too quickly and opening a closed issue (which as I found out isn't an issue at all)

You'll just have to remember that if you have a fixed navbar you'll have to set to different `z-index`, one for the preview and one for the actual fullscreen view

You can close the issue

[2018-01-22 16:34] #95 closed

[2018-01-22 16:34] #96 closed

[2018-01-22 17:05] vh13294 opened #108 "thumbnailsSwipe not working on latest iOS version"
Hi,

I am experiencing an issue with thumbnail swipe gesture on latest chrome and safari on iOS (iphone 7s and 8plus).
-I did also try the gesture on your demo page and it's not working either.
-I also include the polyfil and web-animation-js in angular CLI and its still showing the same result

-on iOS:
   +imageSwipe (working)
   +thumbnailsSwipe (not working)
   +thumbnailsArrows (not working)

[2018-01-23 01:44] leeyanze commented on #100
[code]

this.dom_sanitizer.bypassSecurityTrustUrl is required.

The server returns the image as a blob. This is a system requirement and is a result of the following Django/Python code
[code]
[code]
Thanks for the reply!

[2018-01-23 06:44] lukasz-galka commented on #108
hi @vh13294, please check version `4.2.3`

[2018-01-23 07:29] lukasz-galka commented on #100
@leeyanze in version `4.2.4` I have added validation for replace method. So now you should not have issue with replace, but I am not sure if this resolve whole issue - I can't reproduce it to check...

[2018-01-23 14:02] vh13294 commented on #108
thanks you,
Its working properly now.

[2018-01-23 14:02] #108 closed

[2018-01-24 19:30] lukasz-galka commented on #103
Hi @eugene-sedykh, thanks to @DMcNamara now it is possible. Please check version `4.3.0` and this plunker https://plnkr.co/edit/S0AsmOzS4OoZ9RDRu2Xz?p=preview

[2018-01-24 19:31] lukasz-galka commented on #105
@karljv please take a look at https://github.com/lukasz-galka/ngx-gallery/issues/103 there is similar option for image `imageActions` - starting from version `4.3.0`

[2018-01-25 09:59] chulerias opened #110 "Use thumbnails as links just for images with an url"
I wonder if it may be possible to use the option "thumbnailsAsLinks" only if an url has been provided for an specific image.
I would like to use some (but not all) of my thumbnails as links, for example to open a pdf file. But at the same time, I would like to continue using the rest of my thumbnails as normal images with the default behaviour.
I tried not passing any url inside the NgxGalleryImag

[2018-01-25 11:34] eugene-sedykh commented on #103
This is awesome! Thanks a lot!

[2018-01-25 16:21] #103 closed

[2018-01-25 16:35] CarlosTorrecillas commented on #82
Do you guys have any plans on developing this feature at some point soon?

[2018-01-26 06:24] lukasz-galka commented on #82
Hi @CarlosTorrecillas I will add this feature for sure, but I can't promise when I will have time. Probably in the begining of the February.

[2018-01-26 06:26] lukasz-galka commented on #110
Hi @chulerias, you are right. I will try to add this.

[2018-01-26 08:08] leeyanze commented on #100
Hi @lukasz-galka ,

Thanks for remembering this issue.

[code]

This is how the issue can be replicated.
[code]
My server returns the image as a blob instead of serving it out openly.

Thanks!

[2018-01-28 15:35] OliverLonghi commented on #77
I'm getting this error while migrating to ng5:

ERROR TypeError: Cannot read property 'map' of undefined
    at NgxGalleryComponent.ngOnInit (ngx-gallery.umd.js:1337)
    at checkAndUpdateDirectiveInline (core.js:12362)
    at checkAndUpdateNodeInline (core.js:13886)
    at checkAndUpdateNode (core.js:13829)
    at debugCheckAndUpdateNode (core.js:14722)
    at debugCheckDirectivesFn (core.js:1466

[2018-01-29 07:51] #105 closed

[2018-01-29 07:51] #98 closed

[2018-02-01 02:25] SLK01 opened #111 "Control in Safari on iPhone 6 Plus"
Hi:

I have the gallery options set for breakpoint: 414 width and I put thumbnailColumns, thumnailMoveSize to 3. What I am seeing on the iPhone is, the component renders fine and 3 thumbnails show below but the arrow of left or right on the thumbnail is not working. The same works just fine in the Tools menu set to "iPhone 6 Plus" device.

What am I missing?
Thanks

[2018-02-01 02:35] SLK01 commented on #111
Huh ... please never mind about this. When I updated the component, everything starts to work.

[2018-02-01 02:35] #111 closed

[2018-02-01 13:44] chris938626 opened #112 "original size dialog : question"
Hi Lukasz,
nice gallery 👍 I want to open the image in it's original size and if user's browser size is too small, than scrolling should be possible. Does the ngx-gallery support that? At the moment the image is rendered to the browser resolution.
Further, I want a preview with an overlaying rectangle as a scroll navigation, to scroll in the original image.
Is that possible? If not, can templates b

[2018-02-02 21:57] JuancaValero opened #113 "Systemjs"
systemjs does not exist in angular 5, where does the 'map' have to be placed?

[2018-02-04 10:48] Dev4mir commented on #113
If you are using Angular-cli you don't need to systemjs so you can escape this step

[2018-02-06 08:15] lukasz-galka commented on #112
Hi @chris938626 unfortuntely there is no option for that, there is only zoom https://lukasz-galka.github.io/ngx-gallery-demo/#preview-with-zoom

there is also no option for injecting templates.

Unfortunately lately I don't have time for gallery, so I can't help you.

[2018-02-06 10:12] chris938626 commented on #112
ok, thank you for the info.

[2018-02-06 10:12] #112 closed

[2018-02-07 20:37] #113 closed

[2018-02-07 21:30] monica7l opened #114 "Will Angular 5 be supported?"
Hi Lukasz, I just tried to do a `npm install ngx-gallery --save ` on my Angular 5 project but it fails with

[code]
I'm using Angular 5.0.1. Will this be supported in the near future?

Thank you!
Monica

[2018-02-07 23:01] dmessier opened #115 "Possible to switch image gallery"
Is it possible to dynamically change the images property to point to a different image array?

[2018-02-08 00:16] dvlasenko96 opened #116 "Incorrect order of images"
Hello. Could you help me with image ordering, please? I have set 4 columns and 2 rows, and I use 5 images. Why they positioned as 3 - 2 , but not 4 - 1 (screen attached) ? Last image should be in first row and 4th column.
![image](https://user-images.githubusercontent.com/9932072/35948607-065137fa-0c76-11e8-8869-6fd14819a908.png)

[2018-02-08 02:44] german-e-mas commented on #115
Of course. You need to change the array.
[code]
Check out this Plunker: https://plnkr.co/edit/hszCyPPwRkh4P7yoJtxv?p=preview
Click the button below the gallery: It replaces the images array.

[2018-02-08 07:02] lukasz-galka commented on #114
Hi @monica7l

I have project with Angular 5.1.3 and gallery works fine

[code]

[code]

Could you try install ngx-gallery
1. in empty Angular 5.0.1 project?
2. in other Angular version project?

Could you try to create and push to github demo project with this error?

I would like to help, but I need to reproduce this issue

[2018-02-08 07:31] lukasz-galka commented on #116
Hi @dvlasenko96 gallery by defaut sets images in column order, so
[code]

You can also set row order, but the result will be similar
[code]

It has to be in this way, because you can have more images than your grid (4x2) can contain. So for example if you have 11 images and grid 4x2 then you will have for column order
[code]

and for row order:
[code]

But of course I understand your problem and I

[2018-02-08 11:07] santhoshrajuvysyaraju opened #117 "Issue wile Loading"
Hi i Have Integrated The Slider to My Application.  I Have Integrated this to 3 Places In a same file. but it is displaying only at end of page. but it is not displaying at the start of page. only 2 sliders are displaying the third slider was not displaying.

Here Is The  Screenshot of slider.

https://www.awesomescreenshot.com/image/3159760/64c35cfc92920cb37dbd22daad584dc3

Here is The Screenshot

[2018-02-08 11:45] dmessier commented on #115
Thanks!  Working great…

*	Dave

From: Germán E. Más [mailto:notifications@github.com]
Sent: Wednesday, February 7, 2018 9:44 PM
To: lukasz-galka/ngx-gallery <ngx-gallery@noreply.github.com>
Cc: dmessier <dave.cyndi@comcast.net>; Author <author@noreply.github.com>
Subject: Re: [lukasz-galka/ngx-gallery] Possible to switch image gallery (#115)

Of course. You need to change the array.

this.gallery

[2018-02-08 13:43] santhoshrajuvysyaraju opened #118 "Thumbnails are not displaying"
Hi i have Integrated your slider it is displaying images but it is not displaying thumbnails. thumbnails property are set to background images it is showing in the console but it is not displaying at display

[2018-02-08 16:58] monica7l commented on #114
Thank you, it does work indeed with Angular 5. I just did a test on another computer on another project using Angular 5 and it works.
That error is probably related to my OS or one of my dependencies is too old.

PS:  you can add in github the tag angular5 besides angular2 because it does work :)

[2018-02-09 07:02] #114 closed

[2018-02-09 07:05] #115 closed

[2018-02-09 07:17] lukasz-galka commented on #117
Hi @santhoshrajuvysyaraju I have created plunker wit halso 3 galleries and it works https://plnkr.co/edit/Y2yVQak2QD1BWdSqsXmJ?p=preview

Could you try to reproduce this issue using plunker?
https://plnkr.co/edit/D1tdBCeFo6L9tMOCOb9p?p=preview

For me it look like you didn't set `options`, as you can see here https://github.com/lukasz-galka/ngx-gallery/blob/master/src/ngx-gallery.component.ts#L68

[2018-02-09 07:18] lukasz-galka commented on #118
Hi @santhoshrajuvysyaraju please reproduce it on https://plnkr.co/edit/D1tdBCeFo6L9tMOCOb9p?p=preview

I need an example to work on it.

[2018-02-09 09:24] santhoshrajuvysyaraju commented on #118
@lukasz-galka  Thanks i forget to add the no of columns to the thumbnail now it is working. Thanks For The Support.

[2018-02-09 09:27] #118 closed

[2018-02-09 09:32] santhoshrajuvysyaraju commented on #117
@lukasz-galka  Thanks It is Working now. Previously i used to Write The Code Inside The http.get method it is not initiating at the start of document loading. so it is not passing the images and options. after the loading options was passed to last two tags. The First tag doesn't contains options. Now The Issue is solved .

I Have Sent Options First And Then i used to send images. Now It is workin

[2018-02-09 09:34] #117 closed

[2018-02-09 09:41] santhoshrajuvysyaraju opened #119 "How To Make Images Emply While Routing"
I Have Integrated The slider to my app. but while routing it adds the previous pages images to my slider.

can you help me solve the issue

[2018-02-10 12:04] santhoshrajuvysyaraju opened #120 "Nested Routing issue"
Hi I was Applied Nested Routing to My Component. But While Routing to The same Component i have make my array as empty i am seeing the previous page images and new images .

Here is The Screenshot after and before applying the routing.

Before  Applying The Routing.
https://prnt.sc/icrb92

After Applying The Routing Please See The Below Screenshot.
https://prnt.sc/icrbgc

i don't want Previous pag

[2018-02-12 06:54] ArfanMirza opened #121 "any option for delete image ?"
Is there any option for delete image ?
Need an cross/delete icon over image, on click image should be delete.

[2018-02-12 07:46] lukasz-galka commented on #121
https://github.com/lukasz-galka/ngx-gallery/issues/103

[2018-02-12 13:16] santhoshrajuvysyaraju commented on #120
@lukasz-galka is there any solution for this

[2018-02-14 17:00] inshaf opened #122 "How to trigger / capture methods ?"
hi.. I wanted to get the index of the previewing image. I think following will do this

"show(index: number): void - shows image at index"

But i dont know how to trigger / capture it. Event on your demo page ( demo for "show prev" and "show next" ) it shows only the code config, not how to trigger those methods.

Please give us the sample code for trigger / capture "methods" ( show(), showNext(),

[2018-02-14 17:21] german-e-mas commented on #122
I believe this issue can guide you: https://github.com/lukasz-galka/ngx-gallery/issues/50

[2018-02-14 17:55] maku opened #123 "how to show an indicator (bullet) when not using thumbnails"
Im my use case I don't want to show thumbnails but I would like to have some kind of indicator which shows how many images are in the gallery (eg. bullets ->  also with navigation capabilities)

Is this possible with ngx-gallery?

TIA

[2018-02-14 20:50] #121 closed

[2018-02-14 21:18] helfgod opened #124 "Cannot read property 'length' of undefined"
Hi im presentig this error

NgxGalleryImageComponent.html:3 ERROR TypeError: Cannot read property 'length' of undefined
    at NgxGalleryImageComponent.getImages (ngx-gallery.umd.js:207)
    at Object.eval [as updateDirectives] (NgxGalleryImageComponent.html:3)
    at Object.debugUpdateDirectives [as updateDirectives] (core.js:14640)
    at checkAndUpdateView (core.js:13787)
    at callViewAction

[2018-02-15 00:57] inshaf commented on #122
thanks it works... i think better add these sample in the demo pages

[2018-02-15 06:33] lukasz-galka commented on #123
Hi @maku, unfortunately no.

[2018-02-15 11:52] inshaf opened #125 "Issue with custom action method"
Hi, i have added "actions" (NgxGalleryAction) to the gallery and it works perfectly ( it shows icons on the top right corner and trigger my custom method ). But when I use "this" keyword within this custom method, it return "NgxGalleryAction" object. This means, i cannot use any variables / objects which are define outside of this method.

What is the solution for this ?

[2018-02-15 11:58] lukasz-galka commented on #125
pls check this plunker https://plnkr.co/edit/S0AsmOzS4OoZ9RDRu2Xz?p=preview

[2018-02-15 12:07] inshaf commented on #125
yes... it worked 👍

[2018-02-16 01:46] inshaf opened #126 "Question: Can I get the plunker for following"
hi, can i get plunker for https://lukasz-galka.github.io/ngx-gallery-demo/#dynamic-images-change and https://lukasz-galka.github.io/ngx-gallery-demo/#async-images

thanks

[2018-02-16 06:07] ArfanMirza commented on #121
Thanks, is there any way, i want show all images. Hide the left/right arrow.

[2018-02-16 06:32] lukasz-galka commented on #126
@inshaf check demo sources https://github.com/lukasz-galka/ngx-gallery-demo and closed issues.

[2018-02-16 06:35] lukasz-galka commented on #121
@ArfanMirza you can set thumbnailsRows to your images count. Just for the record, don't ask questions in closed issues.

[2018-02-16 07:04] #122 closed

[2018-02-16 17:21] #126 closed

[2018-02-16 17:33] inshaf opened #127 "Question : How to change the image description ?"
Hi... im allowing user to update the image description when user in the preview mode.

I have added image action ( a button is showing on the top right corner when previewing ). When user click the action button, it shows a modal window where user enter description. I'm updating this description as follows

this.galleryImages[0]['description'] = "setting new description";

and when i check "this.g

[2018-02-17 05:26] faribajpr opened #128 "how to get the index of images in gallery?"
@lukasz-galka i have a ngx-gallery and a button and i want to print the images that is previewing in the array of images when i click the button. how can i get the index of previewing images?

[2018-02-17 10:33] lukasz-galka commented on #128
there is an event `previewChanged` https://github.com/lukasz-galka/ngx-gallery#events

[2018-02-17 16:48] erieflin opened #129 "Image/thumbnail swipe seems to not be triggering"
perceived bug: Neither image swipe or thumbnail swipe is working in the gallery on mobile (nexus 6p)
expected behavior: swipe on screen advances the gallery in the direction of swipe
actual behavior: no response occurs
Additional Information:

package.json dependancies
 "dependencies": {
    "@ angular/animations": "^5.1.2",
    "@ angular/common": "^5.1.2",
    "@ angular/compiler": "^5.1.2",

[2018-02-19 06:42] lukasz-galka commented on #128
like other events, example here https://github.com/lukasz-galka/ngx-gallery/issues/50#issuecomment-335866838

[2018-02-19 06:46] lukasz-galka commented on #129
Hi @erieflin, could you try on other device? Your configuration looks good.
I checked on my huawei and it works fine.

[2018-02-19 06:48] lukasz-galka commented on #127
This is because of angular change detection, more here https://github.com/lukasz-galka/ngx-gallery/issues/6

you have to create new reference
[code]

[2018-02-22 13:36] chris938626 opened #130 "Package.json after fork:Question"
Hi Lukasz,
I forked your gallery. I want to add the forked url to my projects' package.json.
but I can't add that forked repository. It is not build. After building,  I must copy the content of the dist folder  to the ngx-gallery root direcoty. Is there another process?

The correct entry for the package.json is the dist folder inside  "github:chris938626/ngx-gallery#dist".   So I wrote the postsc

[2018-02-23 15:27] ehsaanwelcome opened #131 "preview zoom image on hover in popup windows"
This is really good NG component.
I wonder, is there existed functionality to preview particular area of image on hover in a popup window.
For instance Amazon, popup windows shows zoom area of image.

[2018-02-23 16:32] pawaninspired opened #132 "Slide and close events fails after upgrading font-awesome to svg version."
Click events are failing once I updated latest font-awesome (svg vision).

RCA:
ngx-gallery.umd.js -- >
'<div class=\"ngx-gallery-arrow-wrapper ngx-gallery-arrow-left\">\n            <i class=\"ngx-gallery-icon ngx-gallery-arrow {{arrowPrevIcon}}\" aria-hidden=\"true\" **(click)=\"handlePrevClick()\"** [class.ngx-gallery-disabled]=\"prevDisabled\"></i>\n        </div>\'

Seems like click event on

[2018-02-23 22:04] TonganJedi opened #133 "Multi-Line Image Description"
Is there a way to expand the description text space to allow for multiple lines of text? I noticed some of our images have captions and comments that run over the single line.

[2018-02-26 07:18] lukasz-galka commented on #131
Hi @ehsaanwelcome, unfortunately there is no option for that. You can make zoom only on whole image https://lukasz-galka.github.io/ngx-gallery-demo/#preview-with-zoom

[2018-02-26 07:39] lukasz-galka commented on #130
Hi @chris938626 I din't try to use this in that way, so I can't help. For local development I use npm link https://github.com/lukasz-galka/ngx-gallery/issues/90

[2018-02-26 08:55] pawaninspired commented on #132
Hi lukasz-galka,

Do you have a plan to look into this issue?

Thanks

[2018-02-26 09:04] lukasz-galka commented on #132
Hi @pawaninspired, yes I will try to check this today or tomorrow.

[2018-02-26 12:55] lukasz-galka commented on #132
@pawaninspired this is bacause fontawesome5 replaces `i` element with `svg` https://fontawesome.com/how-to-use/svg-with-js and all events are lost. I need to add wrapper for icons and append events to him, I will try to do that today or tomorrow.

[2018-02-26 16:53] pawaninspired commented on #132
:) Thanks lukasz-galka for addressing the issue, I will be waiting for this fix....

[2018-02-26 19:16] #127 closed

[2018-02-26 19:17] #128 closed

[2018-02-26 19:17] #129 closed

[2018-02-27 16:29] TonganJedi commented on #133
Huh. That's looks exactly the way I'd like it to work on my app, but for some reason, the lines overwrite the previous. I'm bringing the text over from a database, so maybe there's an issue with the way it processes the value?

[2018-02-27 16:37] TonganJedi commented on #133
I tried adding a large string and get this:

![image](https://user-images.githubusercontent.com/30245030/36741194-b82a7f06-1ba1-11e8-94e9-60628c5765bf.png)

Do I need to set some CSS or adjust something?

[2018-02-27 16:59] TonganJedi commented on #133
I figured it out. For whatever reason, my line height was being constrained which was not letting the div adjust to the text. I added the `line-height: normal` property to the _.ngx-gallery-preview-text_ class.

[2018-02-27 17:18] isaelblaismod opened #134 "How can I call openPreview ?"
I was wondering how to call or where to call openPreview action from the component ?

Thanks in advance

[2018-02-27 17:18] chris938626 commented on #130
thank you..

[2018-02-27 17:18] #130 closed

[2018-02-27 17:23] german-e-mas commented on #134
I suggest to look for closed issues. There are many tips and tricks in them.

Perhaps you can find this one useful: https://github.com/lukasz-galka/ngx-gallery/issues/50

[2018-02-27 17:31] isaelblaismod commented on #134
The problem is that I want to call if from my component.ts, which gallery isnt defined ...

[2018-02-27 18:07] isaelblaismod commented on #134
I can pass my gallery object like so : <div (click)="handleClick(gallery)" ...

The next probleme is how to call the open preview inside this object ?

[2018-02-28 06:39] #133 closed

[2018-02-28 10:59] dvlasenko96 opened #135 "Reinit gallery"
Is there a way to reinit gallery or change gallery options? I need to change thumbnailsRows and thumbnailsColumns depends of the new images that have been passed to the component.

[2018-02-28 11:14] german-e-mas commented on #135
Yes, you need to make sure to change the reference of the galleryOptions array. For example:

[code]
And somewhere else...
[code]

[2018-03-02 15:54] VictorKozachek opened #136 "Integration problem"
Hi,

How to fix that:

Can't bind to 'options' since it isn't a known property of 'ngx-gallery'

?

Thanks

[2018-03-03 15:07] omarmakeen commented on #128
@lukasz-galka
I can detect if preview changes but how can get index of current image?

[2018-03-04 14:18] lukasz-galka commented on #136
@VictorKozachek pls show me your code

[2018-03-04 14:20] #134 closed

[2018-03-04 16:03] pawaninspired commented on #132
Thanks lukasz-galka, I have checked version 5.0.0 and its working fine :) .. Apology for a late response.

[2018-03-06 08:06] AlhagebAlmansoor opened #138 "Delete Icon & Event"
Can you add a delete icon and an event for it as an extra option. In fact I am implementing the plugin so that the user can add photos and delete if needed. I wish you can do it.

[2018-03-06 08:13] lukasz-galka commented on #138
https://github.com/lukasz-galka/ngx-gallery/issues/103

[2018-03-07 13:16] IraErshova opened #140 "Change speed of switching slides in preview mood"
How can I change speed of switching slides in preview mood? In documentation there is no such option

[2018-03-07 13:25] #140 closed

[2018-03-07 13:26] IraErshova commented on #140
previewAnimation remove animation from preview slider,, but I think it will be good to implement property for speed animation

[2018-03-08 06:37] #138 closed

[2018-03-08 06:37] #135 closed

[2018-03-08 06:37] #136 closed

[2018-03-08 14:23] DougReynolds commented on #136
Hello, I was awaiting reply with code before posting duplication but see that did not occur.
Here are the related errors:
`Failed: Template parse errors:
Can't bind to 'options' since it isn't a known property of 'ngx-gallery'.
1. If 'ngx-gallery' is an Angular component and it has 'options' input, then verify that it is part of this module.
2. If 'ngx-gallery' is a Web Component then add 'CUSTOM_

[2018-03-09 03:24] grantyi opened #141 "Experiencing gesture issue on mobile"
It seems that ALL directions of the gesture is being used by the gallery component. I am able to swipe left and right to change the image but swipe up and down to scroll is prevented.

Here is my gallery options:

[code]

[2018-03-12 15:08] olshansky opened #142 "Change speed of switching slides in preview mood"
How can I change speed of switching slides in preview mood? In documentation there is no such option

[2018-03-12 15:41] djaddo opened #143 "Image Caption"
Hello,

The gallery is amazing!
But, is it possible to add captions to gallery images here: http://prntscr.com/iq65gh

For example:
[code]

Thanks!

[2018-03-12 17:08] lukasz-galka commented on #143
Hi @djaddo, unfortunately no, but this is simple feature, so I will try to add this soon

[2018-03-12 17:10] lukasz-galka commented on #142
Hi @olshansky, unfortunately no. You can only disable animation using option `previewAnimation`. I will try to add this as a option.

[2018-03-12 19:40] lukasz-galka commented on #143
@djaddo pls check version `5.2.0` and option `imageDescription` demo here https://lukasz-galka.github.io/ngx-gallery-demo/#image-with-description

[2018-03-12 21:21] Jonnybravo opened #144 "Custom Actions"
Hi,

I'm trying to implement a custom action using the option 'imageActions', but I can't find an example. Can you give me a sample?

With this option, is it possible to put a close button directly on the image? I wanted to remove a certain image from the slider with a close icon on the top right corner...

Thanks

[2018-03-12 22:05] djaddo commented on #143
Hi @lukasz-galka ,

I can just say wow!
This was blazing fast!
It works like a charm.
Thank you for your time and effort.

[2018-03-12 22:05] #143 closed

[2018-03-13 05:06] dawlat-netlinks opened #145 "How to hide arrow icon when there is one image"
In below gallery, I want that the right and left arrow not showing me until the image becomes more than one how to hide these icons.
![screenshot 5](https://user-images.githubusercontent.com/17270141/37323996-97fc3f22-26a4-11e8-8cd3-e688c9d3d64f.png)

[2018-03-13 06:25] lukasz-galka commented on #144
Hi @Jonnybravo here you have example with `thumbnailActions` https://github.com/lukasz-galka/ngx-gallery/issues/103

`imageActions` should work in the same, if you still have some issues let me know and give example code

[2018-03-13 06:32] lukasz-galka commented on #145
Hi @dawlat-netlinks  you can override disabled arrow style

[code]

example here https://plnkr.co/edit/n4XgbsAdrDdppMLZlnpX?p=preview

[2018-03-13 06:34] lukasz-galka commented on #145
I will also try to hide them in code in that situation - today or tomorrow

[2018-03-13 09:09] dawlat-netlinks commented on #145
@lukasz-galka Thanks a lot for the reply and that works form.

[2018-03-13 09:09] #145 closed

[2018-03-13 23:58] Jonnybravo commented on #144
Thanks, I managed to put it to work using 'imageActions' and using the code that you provided.

[2018-03-13 23:58] #144 closed

[2018-03-14 06:12] dawlat-netlinks opened #146 "How to bring more than 4 image in thubnails"
In documentation, we have an option that is thumbnailsRows and that is not properly working and bring images repeated so I want that when I upload more than 4 images it automatically increases the amount of row have can I do this?
![screenshot 6](https://user-images.githubusercontent.com/17270141/37385658-83958074-2772-11e8-8464-2adf3780d724.png)

[2018-03-14 09:00] Jonnyprof opened #147 "Preview not working correctly in component with changeDetection OnPush"
When the ngx-gallery is placed in a component with changeDetection set OnPush, and you click on a image to see the preview it not detect the change until you move the mouse.
You have the same behaviour when you click on the arrow keys.
You can try it at: https://angular-ngx-gallery-push.stackblitz.io/ (https://stackblitz.com/edit/angular-ngx-gallery-push)

I guess this can be fixed with a ChangeDe

[2018-03-14 18:18] diegoserrat opened #148 "Is that possible to rotate a image when is on the preview?"
Good afternoon!

I'm looking for some way to rotate a image, when it's on the preview.
Same way as the lib uses a zoom, is that possible?

[2018-03-15 04:46] #146 closed

[2018-03-15 05:00] dawlat-netlinks commented on #146
I got my problem so close the issue.

[2018-03-15 06:28] lukasz-galka commented on #148
Hi @diegoserrat no, it isn't. but I think this is a good idea for a improvement, I will try to add this soon

[2018-03-15 17:00] diegoserrat commented on #148
Thank you!

[2018-03-15 17:24] lukasz-galka commented on #148
@diegoserrat pls check version `5.3.0` with option `previewRotate`
demo here https://lukasz-galka.github.io/ngx-gallery-demo/#preview-with-zoom-and-rotate

[2018-03-16 14:46] diegoserrat commented on #148
@lukasz-galka I tested and it's working! Awesome!

[2018-03-16 16:36] #148 closed

[2018-03-22 12:27] mafia99 opened #149 "Enhancement: (add videos in the gallery)"
I was wondering if there is any plans to add videos in the gallery. and play them when we click on it to expand

[2018-03-25 20:59] mediocre-code opened #150 "Open in preview on page load"
First off thanks for making this, I really appreciate the amount of options we have.  That being said I'm here to ask for more!  Or additional information on how to achieve my goal, is it possible to open the gallery into preview mode on page load?  Or better yet, open it via typescript when I load the pages into the galleryImages object?

Thanks

[2018-03-26 06:00] lukasz-galka commented on #150
Hi @mediocre-code you can open preview via api https://github.com/lukasz-galka/ngx-gallery#methods

example here https://github.com/lukasz-galka/ngx-gallery/issues/20 or https://github.com/lukasz-galka/ngx-gallery/issues/50

[2018-03-26 15:05] mediocre-code commented on #150
Ah ViewChild, beautiful! Thanks!

[2018-03-27 05:20] #150 closed

[2018-04-01 17:22] helospark commented on #116
Also have the same issue.

In my opinion both could be valid, depending on the usecase. When scrolling is done, then the current ordering could makes more sense, but for example I'm working on a gallery, where all the thumbnails are shown without scrolling, in that case it make sense to fill the first row, then the second row, etc. (it would work similarly to how Column does).

Maybe it could be a

[2018-04-04 13:33] ANU5253 opened #152 ""Preview with fullscreen on start" demo setting thumbnails to it's start"
In my project, I have setup the fullscreen on preview open. But it will change the thumbnail to start and arrow is not changing accordingly.

The same problem occurred in the demo with "Preview with fullscreen on start".

Please provide some solution to stop this behaviour.

Thanks in advance.

[2018-04-04 17:11] lukasz-galka commented on #152
Hi @ANU5253 I don't understand your problem, please try to explain it one more time - I would like to help.

I assume that we talk about this demo https://lukasz-galka.github.io/ngx-gallery-demo/#preview-with-fullscreen-on-start, for it works fine.

[2018-04-05 07:48] ANU5253 commented on #152
Hello @lukasz-galka, yes I am talking about the same demo.

Please follow the below steps in that demo.
1) press right arrow at thumbnails and view the last image and click on it
2) now open the preview on clicking above image (which is last image)

Now, you can verify the thumbnails after closing the preview. It is setted to the first, but the arrow is disabled of right side.

[2018-04-05 16:21] shamimkasimkunju opened #153 "print images in ngx-gallery"

[2018-04-05 18:09] lukasz-galka commented on #152
@ANU5253 pls check version `5.3.1`, on demo there is still `5.3.0` so you have to install it to see change

[2018-04-06 07:14] ANU5253 commented on #152
Hello @lukasz-galka,

Thanks for the quick changes in the repository. The new version 5.3.1 solved the thumbnail resizing issue. So, I am closing this issue.

Thanks,
AB

[2018-04-06 07:14] #152 closed

[2018-04-06 14:44] #153 closed

[2018-04-09 09:09] kamal0808 commented on #141
@lukasz-galka What is the solution to this? I am experiencing the same in v3.1.4

[2018-04-10 02:52] Aman-Jojra opened #154 "NgxGalleryPreviewComponent generates image with src="#" causing action called twice in Chrome"
I have noticed that in line 19 of ng:///NgxGalleryModule/NgxGalleryPreviewComponent.html -
`<img #previewImage class="ngx-gallery-preview-img ngx-gallery-center" [src]="src ? src : '#'" (click)="$event.stopPropagation()" (mouseenter)="imageMouseEnter()" (mouseleave)="imageMouseLeave()" (mousedown)="mouseDownHandler($event)" (touchstart)="mouseDownHandler($event)" [class.ngx-gallery-active]="!loadi

[2018-04-11 06:01] lukasz-galka commented on #154
@Aman-Jojra thanks for this bug report. Unfortunately I don't have time lately, PR are welcome.

[2018-04-12 00:44] Aman-Jojra commented on #154
Ah thanks for quick turn around. It's working perfect now.

[2018-04-12 00:44] #154 closed

[2018-04-13 19:53] elvirdolic commented on #149
This would be great, is there a way todo this now?

[2018-04-13 20:09] bibash-mi opened #155 "Image AutoPlays when thumbail arrow is clicked few times."
When thumbnail arrow is continuously clicked a few times, the images will start to autoplay even though AutoPlay is set False.

Here is my setup for the ngx-gallery:

    this.galleryOptions = [
           {
             width: '50%',
             height: '900px',
             preview: false,
             previewAutoPlay:false,
             imageSize: NgxGalleryImageSize.Contain,
             imag

[2018-04-16 05:31] lukasz-galka commented on #149
@elvirdolic unfortunately no.

[2018-04-23 20:04] viniciusaugutis opened #156 "I would like to add a template html together image preview, is it possible?"

[2018-04-25 20:39] sushrest opened #157 "Can't bind to 'options' since it isn't a known property of 'ngx-gallery'."
on Angular ^5.0.1

[2018-04-26 07:01] lukasz-galka commented on #157
Hi @sushrest pls give me more information: code example, angular version, gallery version etc. Maybe you can create example project or use plunker to reproduce it?

I need more info to help you.

[2018-05-01 06:26] PepeBel4 commented on #30
Hello,
Old topic, but i still encounter this issue.
Testing on iPad. Vertical swipe on thumbnails is ok; but nothing happens when swiping vertical on the images. When using the gallery almost fullscreen on iPad, this is really blocking issue.

Very very nice component, with plenty of configuration options!

[2018-05-01 06:38] PepeBel4 commented on #141
Experiencing same issue. Would be very nice to have vertical swiping functionality.

[2018-05-01 14:30] lukasz-galka commented on #141
Hi all, I've tested swipe demo https://lukasz-galka.github.io/ngx-gallery-demo/#swipe on my phone (huawei p10) and tablet (samsung galaxy tab s2) - everything works fine.

I've testes also on the same devices @kamal0808 example and there are some problems with vertical swipe, so I think there is a problem with hammerjs or maybe there is a issue in your code.

Could someone who has the problem with

[2018-05-01 14:30] #157 closed

[2018-05-01 14:31] lukasz-galka commented on #156
@viniciusaugutis unfortunately no.

[2018-05-01 14:31] #156 closed

[2018-05-01 14:35] lukasz-galka commented on #155
Hi @bibash-mi I can't reproduce this issue, could you record a video with this issue? Could you reproduce it using plunker https://plnkr.co/edit/D1tdBCeFo6L9tMOCOb9p?p=preview ?

[2018-05-01 20:59] PepeBel4 commented on #141
I tested the demo and vertical swipe works correctly in the demo.
But on 'my' page; the vertical swipe does not work.

hammerjs@2.0.8
├── ngx-gallery@5.3.2

I copied and pasted the example code almost identical into our project.

[2018-05-02 12:50] lukasz-galka commented on #141
@PepeBel4 here https://github.com/lukasz-galka/ngx-gallery/blob/master/src/index.ts I disabled vertical scroll in hammerjs, there is a chance that someone or other plugin overrides this configuration. Could you try to add this to your module?

[code]

[2018-05-08 12:19] vignesh007vicky opened #158 "page strucks while loading images page hangs in chrome only.."
Hi,
     this is a great plugin..
     it works great in mozilla and safari,
     but in chrome the page strucks to load image..

please help soon..

[2018-05-08 12:37] german-e-mas commented on #158
I'm using Chrome as my main browser and I'm not experiencing any issue. Can you describe your problem to see if it might be happening to us?

[2018-05-08 13:26] vignesh007vicky commented on #158
HI @german-e-mas

I have uplodaed 20 images  from admin panel, that is done.
after that i call the image url and assinging
`                     this.galleryOptions =[
{ "image": false, "height": "100px","width": "100%","thumbnailsColumns": 10,"thumbnailsMargin": 10, "thumbnailMargin": 10 , "thumbnailsMoveSize": 5 },
{ "breakpoint": 500, "width": "100%"  }
]`

`if(this.eventId.gallery){
     for(v

[2018-05-08 13:57] vignesh007vicky commented on #158
HI @german-e-mas

I have uplodaed 20 images  from admin panel, that is done.
after that i call the image url and assinging
`                     this.galleryOptions =[
{ "image": false, "height": "100px","width": "100%","thumbnailsColumns": 10,"thumbnailsMargin": 10, "thumbnailMargin": 10 , "thumbnailsMoveSize": 5 },
{ "breakpoint": 500, "width": "100%"  }
]`

`if(this.eventId.gallery){
     for(v

[2018-05-09 10:31] vignesh007vicky commented on #158
??

[2018-05-09 22:59] juguar commented on #82
hi @lukasz-galka , the ngx-gallery module is cool!  Thanks for that :)  I find it quite nifty..only have some image overlay problems when there are multiple instances on the same page, but otherwise its cool.

Is this feature (right or left sided thumbnails) on the horizon?  Many thanks.

[2018-05-11 17:14] carloscercado opened #159 "it is possible to show only thumbnails with its description?"
I can to show only thumbnails using this code:
``[
{ "image": false,
"thumbnailsRemainingCount": true,
 "height": "100px" }
{ "breakpoint": 500,
"width": "100%",
 "thumbnailsColumns": 2 }
] ``
I want to show the description of each image too.... it is possibble?

[2018-05-12 01:45] azinramezani opened #160 "How can I use show method?"
Hi,

I want to jump to a specific index by clicking a button. I can see in API we have "show" method but I don't know how can I call that method?

Or is there a better way to change the index of current image?

Thanks,
Azin

[2018-05-12 10:13] lukasz-galka commented on #160
@azinramezani here you have an example https://github.com/lukasz-galka/ngx-gallery/issues/50

[2018-05-12 10:14] lukasz-galka commented on #159
@carloscercado you can have description only for image https://lukasz-galka.github.io/ngx-gallery-demo/#image-with-description and for preview https://lukasz-galka.github.io/ngx-gallery-demo/#preview-with-image-description-and-fullscreen

[2018-05-12 12:54] azinramezani commented on #160
@lukasz-galka  thank you very much for your reply.
How can I access that "gallery" object in my component .ts file?

[2018-05-12 13:47] carloscercado commented on #159
@lukasz-galka i can to  show the description in the thumbnails  section?

[2018-05-13 11:50] lobnazakaria opened #161 "want to add styling to description of images"
is it possible to add styling to description ?
i added html tags and it worked but i couldn't add styling to it

[2018-05-13 15:45] lukasz-galka commented on #160
@azinramezani https://github.com/lukasz-galka/ngx-gallery/issues/20

[2018-05-13 16:03] lukasz-galka commented on #161
@lobnazakaria

for image
[code]

for preview
[code]

[2018-05-13 16:03] #155 closed

[2018-05-17 06:26] #161 closed

[2018-05-17 06:26] #160 closed

[2018-05-17 06:26] #159 closed

[2018-05-18 16:04] rmschots commented on #141
@lukasz-galka
I had the same issue and your custom hammerjs configuration indeed fixes it.
No idea which other library overrides the pinch/rotate settings though.

[2018-05-18 16:38] lukasz-galka commented on #141
@rmschots thanks

[2018-05-18 16:38] #141 closed

[2018-05-18 16:39] #158 closed

[2018-05-21 11:36] Omi0 opened #162 "Gallery Component inside ngFor loop"
I tried to get it working inside the loop. Did the following:
`<div *ngFor="let product of products">
                <ngx-gallery *ngIf="product.images.length > 0" [options]="galleryOptions" [images]="getGalleryImages(product.images)"></ngx-gallery>
        </div>`

`getGalleryImages(images: IFile[]): NgxGalleryImage[] {
    let galleryImages: NgxGalleryImage[] = [];
    images.forEach(image => {

[2018-05-22 08:14] jorugit commented on #106
We need a Event "imagesPreviewOpen", then we can manipulate the ImageArray...
I need this cause i load the Image from a webservice using authentication and store the Image in blob-Url.

[2018-05-27 15:01] ruant opened #163 "feat - download link"
Add option to add a "download" button in the top right along with the zoom in/out, fullscreen, close buttons.

[2018-05-27 16:40] ruant opened #164 "bug - zoom movment and swipe dosn't work well together"
Zoom in, and then swipe to a side will load the next image.

[2018-05-27 16:55] ruant opened #165 "bug - Scroll not working when enabling swipe"
When enabling `imageSwipe: true` scroll doesn't work anymore on mobile.

The gesture should be detected and change image on left/right swipe, and leave it be on up/down so scroll work.

[2018-05-28 13:07] liam-cameron opened #166 "Lock arrow icons in place when using NgxGalleryImageSize.Contain"
Hi, is there any way to fix the arrow icons to the image when using Contain option? I would like them to remain in position on the image's edge where they are located in Cover mode.

Current behaviour:
Arrow icons move off the image as container get larger.

Requested option / solution:
Lock arrow icons in place, so that they are always in the same place - I.e. visible on the image, regardless of

[2018-05-29 06:46] eddyzhu1980 opened #167 "issue on Angular 6"
Hi Expert,

I installed the latest version of ngx-gallery on Angular 6 project. I follow the basic instruction here and got following error: Can you please advise if it supports Angular 6?

ERROR TypeError: Cannot read property 'map' of undefined
    at NgxGalleryComponent.push../node_modules/ngx-gallery/bundles/ngx-gallery.umd.js.NgxGalleryComponent.ngOnInit (ngx-gallery.umd.js:1361)
    at check

[2018-05-29 16:49] JohnnyDevNull commented on #167
That's a rxjs problem with version 6.x. Install "rxjs-compat", then it should works.

They have changed the imports.

[2018-05-29 20:54] rmschots opened #168 "Feature request - set aria-label on thumbnails"
As Google Lighthouse wants links to have discernible names to help screenreaders,
I'd like to be able to set aria-labels for the thumbnails.

Probably best as property of NgxGalleryImage

[2018-05-30 00:03] JakubEsterka opened #169 "Multiple gallery instances on one page causes keydown madness"
I have about 20 gallery components in DOM rendered - each one adds its own keydown listeners. This means that writing anything in any input is really slow. I tried disabling keyboard options, but listeners are still added to window.

Is there any way how could I disable it completely? Or I have to make my own gallery component without adding those listeners.

Thanks a lot!

[2018-05-30 00:13] JakubEsterka commented on #169
I just commented out the host listener in compiled gallery - but maybe its worth solving anyway.

[2018-05-30 10:38] hpawe01 opened #170 "Preview is overlaid by mat-sidenav"
When I use the `MatSidenavModule` from @angular/material2 the fullscreen mode is overlaid by the `mat-sidenav` components and make navigation impossible.

See https://ngx-gallery-sidenav.stackblitz.io for example.

A workaround would be to set the z-index of `mat-sidenav` to `-1` but I don't know if this is the cleanest way to handle this issue.

[2018-06-01 13:03] morzito opened #171 "How do I get the ID of the thumbnails"
How do I get the ID of the thumbnails when I click on it?

I have 2 actions [NgxGalleryAction] on thumbnails (remove img and edit img). When i click on this actions, i can`t get ID of image.

`const deleteAction = new NgxGalleryAction({
      disabled: false,
      icon: 'fa fa-remove',
      titleText: 'Remove image',
      onClick: () => {
           // how get imageId?
      }
    });`

Actions

[2018-06-03 16:07] yangwen2 commented on #171
what ID? According to the doc and source, this is the image class;  As  you can see, there is no id property.
class NgxGalleryImage implements INgxGalleryImage {
    small?: string | SafeResourceUrl;
    medium?: string | SafeResourceUrl;
    big?: string | SafeResourceUrl;
    description?: string;
    url?: string;
    constructor(obj: INgxGalleryImage);
}

[2018-06-05 13:53] sebafra commented on #110
Any updates of this feature?

[2018-06-06 00:02] sebafra commented on #171
I used in this way:
`thumbnailActions: [{ icon: 'fa fa-plus', onClick: this.goToURL.bind(this), titleText: 'See More' }]`
and after:
`  goToURL(event, index): void {
    const item = this.galleryImages.splice(index, 1);
  }`

[2018-06-06 00:51] sebafra commented on #125
Hi @lukasz-galka,
The example you provide work perfect for thumbnailActions, but when i use `actions` i get an `undefined` index. I need to get the `link` parameter of the image in order to go to an external url.
Can you help me
Thanks in advance

[2018-06-07 10:46] ehsaanwelcome opened #172 "thumbnails position and image preview"
1. Is it possible to add left and right thumbnails layout option?

2. image preview triggered either on thumbnail or image click. Is there any way to disable preview on thumbnail click but only on image click. thumbnail click should change image and image click should show preview.

[2018-06-12 09:00] lukasz-galka commented on #165
Hi @ruant pls check https://github.com/lukasz-galka/ngx-gallery/issues/141

[2018-06-12 09:04] lukasz-galka commented on #167
thx @JohnnyDevNull

[2018-06-12 09:04] #167 closed

[2018-06-12 09:06] lukasz-galka commented on #169
Hi @JakubEsterka, you are right.

[2018-06-12 09:13] #171 closed

[2018-06-12 12:36] Chris938621 opened #173 "navigation arrows if only one image is in the gallery"
Hi Lukasz.
is there a possibility to disable the navigation arrows? In some cases we load the gallery with only one picture and than the arrows are not needed.
Best regards,
Christian

[2018-06-12 12:50] german-e-mas commented on #173
I think you can try with `imageArrows: false` in the options.

[2018-06-12 13:02] Chris938621 commented on #173
Thank you, german-e-mas!
Is there also a possibility to disable the  small preview image in this case?

[2018-06-12 13:08] german-e-mas commented on #173
No problem @Chris938621 . You can do that with `thumbnails: false`. I suggest you to read the gallery options of the readme: [NgxGalleryOptions](https://github.com/lukasz-galka/ngx-gallery#ngxgalleryoptions). There are many interesting options in it that can help you.

[2018-06-14 17:04] #173 closed

[2018-06-27 06:33] lukasz-galka commented on #168
@rmschots added in `5.4.0`, there is a new property `label` in `NgxGalleryImage`

[2018-06-27 06:33] #168 closed

[2018-06-27 06:34] #165 closed

[2018-06-27 07:37] mnesser opened #174 "Fill image row before columns"
I use a "grid" thumbnailsRows: 6,   thumbnailsColumns: 6.
If there is less than 18 images I wish to fill the rows first..
Like this.
XXXXXX
XXXXXX
000000
000000
000000
000000
not
XX0000
XX0000
XX0000
XX0000
XX0000
XX0000

X = image,
0 = Empty

[2018-06-29 06:03] lukasz-galka commented on #174
@mnesser unfortunately currently there is no option for that ;/ There already is similar issue https://github.com/lukasz-galka/ngx-gallery/issues/116 I will try to add this feature soon.

[2018-06-29 06:42] lukasz-galka commented on #169
Fixed in `5.4.1`

[2018-06-29 06:42] #169 closed

[2018-07-02 09:00] arielouziel opened #175 "Feature request: hook for custom preview"
Hi,

First of all, thanks for your great job !

I'm developping an app with Ionic, and I'd like to override the preview component of NgxGallery to use ion-slides (better for mobile UX). Unfortunately, there's currently no mean to hook into the 'openPreview' event to override default behavior.

If I disable preview, I don't receive the event, and if I enable it, I can't prevent the PreviewComponent

[2018-07-03 05:53] lukasz-galka commented on #175
Hi @arielouziel, thanks for your PR, your change is available in version `5.5.0`

[2018-07-03 05:53] #175 closed

[2018-07-03 08:36] arielouziel commented on #175
Great, thank you !

Le mar. 3 juil. 2018 à 07:53, Łukasz Gałka <notifications@github.com> a
écrit :

[2018-07-03 16:31] lukasz-galka commented on #125
fixed in `5.5.1`

[2018-07-03 16:31] #125 closed

[2018-07-04 17:06] CarlosTorrecillas opened #177 "Mobile swipe"
Hi there,

First of all the library is great so thanks for that!

I wanted to know whether you could handle the swipe gestures on mobile to go to the next image.

Cheers

[2018-07-05 05:01] lukasz-galka commented on #177
Hi @CarlosTorrecillas Have you checked `imageSwipe`, `thumbnailsSwipe` and `previewSwipe`? Also pls check https://github.com/lukasz-galka/ngx-gallery#prerequisites

[2018-07-05 13:39] CarlosTorrecillas commented on #177
Hi @lukasz-galka Thanks for this. I have just added hammer.js and enabled the three features to see how it works. Is there any option that could be cancelling that? I cannot get it to work. My options:

[code]

[2018-07-05 14:00] CarlosTorrecillas commented on #177
All good, it works. Any change you can also enable the transition to get the animation effect of actually passing one slide and getting the other as opposed to the fade in/out effect?

[2018-07-05 17:34] lukasz-galka commented on #177
https://lukasz-galka.github.io/ngx-gallery-demo/#animation-slide ?

[2018-07-06 08:17] CarlosTorrecillas commented on #177
That's exactly what I was looking for. Is there any chance that the slide animation does not go in the opposite direction when going back to the first slide? Say I'm pressing the right button constantly, when I get to the last one, the animation goes to the opposite direction and the first slide loads again. Would it be possible to configure it to also go in the same direction?

My gallery options

[2018-07-06 16:34] lukasz-galka commented on #177
no, there is no option for that.

[2018-07-09 12:30] Shustoff opened #178 "Options thumbnailsRows and thumbnailsColumns with thumbnailsRemainingCount: true"
Hello, I found a bug.
If I use two options: thumbnailsRows > 1 and thumbnailsColumns > 1 with thumbnailsRemainingCount: true. Then badge 'RemainingCount' visible only in one row (or column), and other thumbnails visible only in one row (or column). Option 'thumbnailsOrder' define an order in this case.

[2018-07-11 12:00] imarks-saisudhakar commented on #53
Wow, Great Component, I Would like to Request to you please implement thumbnails slider with images in modal.

1) Please add image description in code because i am new one to angular.

Regards,
Saisudhakar,
Email:-muvvasaisudhakar@gmail.com

[2018-07-12 12:30] FURQAN2050 opened #179 "When i push the image into the galleryimages.it gives length error."
for(let i=0;i<viewObject[0].photos.length;i++){
      if(i=0)continue;
      this.galleryImages.push({
        small:"http://localhost:3000/"+(viewObject[0].photos[i].ProductImage),
        medium:"http://localhost:3000/"+(viewObject[0].photos[i].ProductImage),
        big:"http://localhost:3000/"+(viewObject[0].photos[i].ProductImage)
        }
      )
    }

[2018-07-12 12:30] FURQAN2050 commented on #179
Error:TypeError: Cannot read property 'length' of undefined
    at NgxGalleryImageComponent.getImages (ngx-gallery.umd.js:249)

[2018-07-14 08:42] lukasz-galka commented on #179
Hi @FURQAN2050 I need more information to help you.

[2018-07-14 09:00] lukasz-galka commented on #178
Thanks @Shustoff, fixed in `5.6.1`

[2018-07-14 09:00] #178 closed

[2018-07-14 09:06] lukasz-galka commented on #172
1. unfortunately no, there is already ticket for that https://github.com/lukasz-galka/ngx-gallery/issues/82
2. I think it is how it works now, click on thumbnail changes image, and click on images opens preview.

I'm closing because of duplication, feel free to open if there is something more

[2018-07-14 09:06] #172 closed

[2018-07-14 09:07] lukasz-galka commented on #174
I'm closing because of duplication

[2018-07-14 09:07] #174 closed

[2018-07-14 09:19] lukasz-galka commented on #170
`mat-sidenav` has `z-index: 2`, `mat-sidenav-content` which contains `ngx-gallery` has `z-index: 1`, because of that preview is under sidenav.

Imo you should listen to `previewOpen` event and set `z-index: 1` on `mat-sidenav`, and of course set previous value on `previewClose`

[2018-07-16 07:51] hpawe01 commented on #170
Okay, seems reasonable. We don't know where the `ngx-gallery` is used, so it makes no sense to handle this inside the library.
But with the outputs `previewOpen` and `previewClose` this should work.

Thanks for your input!

[2018-07-16 07:51] #170 closed

[2018-07-16 12:16] FURQAN2050 commented on #179
i have a viewobject object ,in which photos array is placed.and i need to push the photos url in the galleryimages array.and it gives me that above error

[2018-07-16 12:20] german-e-mas commented on #179
I don't think this is an issue with the gallery itself, but with your object. `viewObject[0].photos.length` seems the culprit. Is `photos` defined or an array? Start debugging there.

Also, if you need to skip the `i=0` in the for loop, why not starting it at 1?

[2018-07-16 12:30] FURQAN2050 commented on #179
viewObject[0].photos.length ..it works fine..in (viewobject) object .there is an array named photos with field ProductImage.and i just push the Productimage to the gallery images array

[2018-07-16 12:30] FURQAN2050 commented on #179
Cannot read property 'push' of undefined

[2018-07-20 03:30] lutfiajeng09 opened #180 "ngx-gallery-preview style when appearing from the modal"
![image](https://user-images.githubusercontent.com/35356486/42981690-a75a407c-8c07-11e8-97b3-272eb7fda44c.png)

Hi there,
I want to know how to change css style from ngx-gallery-preview when opened from modal? Because the length and width follow from the style of modal

Thank you.

[2018-07-20 13:45] adherents opened #181 "How to make infinite loop for thumbnails?"
As far as I understand, for now we can apply infinityMove property only for images and not for thumbnails.
So how can I get the same behavior for thumbnails too? Thanks for help in advance.

[2018-07-22 08:17] lukasz-galka commented on #181
Hi @adherents, there is no option for that, and imo it's not so easy to change it with current implementation.

[2018-07-22 12:51] adherents commented on #181
Anyway thx for reply, your package really awesome)

[2018-07-23 05:59] #180 closed

[2018-07-27 13:54] Tindermere commented on #179
Have you initialized your array?

[2018-08-02 19:03] Bodeclas commented on #162
Hello @Omi0, you can create a child component for your ngx-gallery. For example:

[code]

[code]

[code]

[2018-08-07 05:46] websystemsoftware commented on #179
Hi,
I have the same Error since i Upgrade from a older Version!
before was no Problem and with the newest Version i become always this Error in the Console.

NgxGalleryImageComponent.html:3 ERROR TypeError: Cannot read property 'length' of undefined
    at NgxGalleryImageComponent.push../node_modules/ngx-gallery/bundles/ngx-gallery.umd.js.NgxGalleryImageComponent.getImages (ngx-gallery.umd.js:249)

[2018-08-07 07:46] websystemsoftware commented on #179
before i have the Version 3.1.4 > in this version i become no error

and then i Upgrade to Version 5.6.1 > and from this time i become this errors

[2018-08-08 19:34] alessrein opened #182 "Add support for angular-fontawesome"
Hi, i like your library a lot and i think is the best out there for angular. Currently i'm using it for an online shop https://acuamundo.com

Loading the entire library of fonts when you are not using them all is not great.
It would be better if to support this: https://fontawesome.com/how-to-use/on-the-web/using-with/angular
This will make the entire app load faster.

Thank you!

[2018-08-16 23:48] sonnyk22 opened #183 "Adding right panel next to images"
Excellent library!!!

Is there a way to add a right panel next to show images such as shown in Figure below?

![untitled](https://user-images.githubusercontent.com/6744710/44240656-41ba7700-a18d-11e8-97ad-be7761672c30.png)

Thank you!

[2018-08-28 00:13] dickschoeller opened #184 "NgxGalleryAction is declared with onClick only taking event"
The documentation indicates that the onClick field of NgxGalleryAction should be:
(event: Event, index: number) => void

However, the actual implementation is:
(event: Event) => void.

It sometimes called with an index and sometimes not. Probably, it should be declared (event, index?).

[2018-08-28 00:14] dickschoeller opened #185 "NgxGalleryAction.onClick implementation and documentation inconsistent"
The documentation indicates that the onClick field of NgxGalleryAction should be:
(event: Event, index: number) => void

However, the actual implementation is:
(event: Event) => void.

It sometimes called with an index and sometimes not. Probably, it should be declared (event, index?).

[2018-08-28 03:15] dickschoeller commented on #185
Had problems with github and inadvertently duplicated the issue report. Duplicate of #184

[2018-08-28 03:15] #185 closed

[2018-08-29 17:26] sabeehshah opened #186 "Do we have to have 3 different size images?"
Question

[2018-08-29 17:32] german-e-mas commented on #186
https://github.com/lukasz-galka/ngx-gallery#ngxgalleryimage

- small | Type: string | SafeResourceUrl - url used in thumbnails
- medium | Type: string | SafeResourceUrl - url used in image
- big | Type: string | SafeResourceUrl - url used in preview

[2018-09-03 09:22] Valdas3 opened #187 "Any way to handle missing images?"
Let's say I populate the gallery with images but some of them are missing. What ways are available to handle this situation? As I see, currently when this happens missing images are displayed as completely white images (same with thumbnails). Is there some way some way to display an alt text or remove them from the gallery completely, only leaving the existing images?

[2018-09-05 08:08] hidayatarg commented on #167
I did install it but still i am getting the same error

[2018-09-10 15:11] bb1 opened #190 "Multi-Touch Zoom with hammer.js's pinch event?"
Woudln't that be a pretty sweet idea?

Since ngx-gallery already uses Hammer.js for swipe it just would be just the logical step to implement gestures for zooming.

[2018-09-13 03:57] xpect17 opened #191 "Do you have event click"
Hi.  the document have only change event

Events
change - triggered on image change

how can i get image objects when clicked.

thank you

[2018-09-13 09:42] xpect17 commented on #179
I have this error too when i use images from url but when use image from asset folder it fine.

[2018-09-13 09:44] xpect17 commented on #179
ng:///NgxGalleryModule/NgxGalleryImageComponent.ngfactory.js:107 ERROR TypeError: Cannot read property 'length' of undefined
    at NgxGalleryImageComponent.push.../../node_modules/ngx-gallery/bundles/ngx-gallery.umd.js.NgxGalleryImageComponent.getImages (:4200/programs-home-home-module.js:675)
    at Object.eval [as updateDirectives] (ng:///NgxGalleryModule/NgxGalleryImageComponent.ngfactory.js:1

[2018-09-13 09:44] xpect17 commented on #179
ERROR TypeError: Cannot read property 'length' of undefined
    at NgxGalleryImageComponent.push.../../node_modules/ngx-gallery/bundles/ngx-gallery.umd.js.NgxGalleryImageComponent.getImages (:4200/programs-home-home-module.js:675)
    at Object.eval [as updateDirectives] (ng:///NgxGalleryModule/NgxGalleryImageComponent.ngfactory.js:114)

[2018-09-13 14:55] #183 closed

[2018-09-14 05:58] xpect17 commented on #179
i fix this error by use ngIf not render until subscribe(for images) complete.

[2018-09-14 13:25] manjeet13 opened #192 "does it only take relative paths to images?"
I was just trying this plugin, which looks awesome by the way, in my project with a few urls from google images but every time I get the following error in the console:

`ERROR TypeError: Cannot read property 'replace' of undefined
    at NgxGalleryHelperService.push../node_modules/ngx-gallery/bundles/ngx-gallery.umd.js.NgxGalleryHelperService.validateUrl (ngx-gallery.umd.js:121)
    at NgxGallery

[2018-09-16 10:03] Mandark-iprogrammer opened #193 "How to remove download options on preview image?"

[2018-09-18 10:06] manjeet13 commented on #192
The problem was that it takes URL for all 3 sizes, i.e., small medium and big. I was giving only small and big.

[2018-09-18 10:06] #192 closed

[2018-09-26 16:32] Omar-Qalei opened #194 "How can I push multi data dynamically in ngx-gallery ?"
[code]

[2018-09-26 17:19] german-e-mas commented on #194
If the problem is that you are not seeing the new images, you need to create a new object reference:

[code]

I haven't tested this code, so take it with a grain of salt. Hope it helps.

[2018-09-26 17:20] Omar-Qalei commented on #194
<ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>

[2018-09-26 22:05] mzellho opened #195 "Open preview programatically"
I am trying to open your really nice `ngx-preview-component` from a click on a button.  In my component I set up the options, the image and the @ViewChild for the gallery:

[code]

The template contains:
[code]

And in the click handler for my button:

[code]

I tried several things, including subscribing to `this.gallery.imagesReady` but all of them lead me to a
`image is undefined`.

If `image`

[2018-09-27 11:29] pamidivenkat opened #196 "How to display the thumbnail with same proportions as the original images not square."

[2018-09-27 11:32] pamidivenkat commented on #196
![image-sizes](https://user-images.githubusercontent.com/7859972/46143226-f8267700-c276-11e8-9a11-a64d3163f9c9.PNG)

These are 4 different size image, but all are displaying in same height and width.  I need them to display with their original sizes.

[2018-09-29 07:37] lukasz-galka commented on #196
Hi @pamidivenkat it is not possible.

[2018-09-29 07:40] lukasz-galka commented on #195
Have you seen my example?
https://lukasz-galka.github.io/ngx-gallery-demo/#only-preview

https://github.com/lukasz-galka/ngx-gallery-demo/blob/master/src/app/app.component.ts#L27
https://github.com/lukasz-galka/ngx-gallery-demo/blob/master/src/app/app.component.ts#L195
https://github.com/lukasz-galka/ngx-gallery-demo/blob/master/src/app/app.component.ts#L215

https://github.com/lukasz-galka/ngx-ga

[2018-09-29 07:44] lukasz-galka commented on #193
there is a option f or that:
`previewDownload | Type: boolean | Default value: false - enables or disables downoad button`

version `5.6.0` has a bug and download button is always visible, but I've fixed it in `5.6.1`

[2018-09-29 07:49] lukasz-galka commented on #186
@sabeehshah yes, you have to set all `small`, `medium` and `big`, but of course you can set the same image for all.

[2018-09-29 07:49] #186 closed

[2018-09-29 07:51] #100 closed

[2018-09-29 07:51] #97 closed

[2018-10-01 14:16] mzellho commented on #195
Hi @lukasz-galka , thanks for your reply.

In fact I somehow missed that example - sorry for that -, but after all I was more or less doing the same things you demonstrated in your `onlyPreview` and `async` examples.

Meanwhile I got it working. There must have been a race condition after assigning the (new) images to the gallery, which I worked around by opening the preview in a setTimeout Block:

[2018-10-01 14:16] #195 closed

[2018-10-04 06:39] #196 closed

[2018-10-04 06:40] #193 closed

[2018-10-04 11:36] tomcoppensucll opened #197 "Method for moveRight()"
Hi,

would it be possible or is it possible to address the method moveRight() on a custom button just as we can access the method showPrev(). So it would be possible to move the thumbnails to the right or left?

Thanks in advance

[2018-10-07 15:18] t-zander opened #198 "Change width and height of opened window"
When opened in modal window for the full screen, the gallery takes size of modal (so in fact it is not full screen)
Is there any way to make opened gallery window full screen, even despite the fact that modal is not full width?
I fixed it with you suggestion for angular material, though I am using bootstrap) ANyway it worked for me.
Another question is, whether I can give fixed size for iamges whe

[2018-10-08 16:35] lukasz-galka commented on #197
Hi @tomcoppensucll you can find new methods in version `5.7.0` https://github.com/lukasz-galka/ngx-gallery#methods

[2018-10-08 16:43] lukasz-galka commented on #198
Hi @t-zander

you can change background of preview using
[code]

What do you mean by `own controls`? Do you mean `NgxGalleryAction` ?

[2018-10-08 16:45] lukasz-galka commented on #191
@xpect17 it is probably too late, but could you give me more info about your request?

[2018-10-08 17:03] tomcoppensucll commented on #197
Awesome, thank you!

[2018-10-08 17:03] #197 closed

[2018-10-10 05:28] wahyuen opened #199 "Feature Request: Face hover in image preview mode"
First off, many thanks for your efforts into this library!

**Scenario:** It would be awesome if when a user displays a fullscreen image, that the library has an ability to draw rectangles on hover/highlight so that people can have an indication of face detection.

I currently have done the processing already to obtain dimensions of where i want to draw the rectangles, however, having issues in at

[2018-10-11 18:33] sanndeepg commented on #167
Even after installing npm i rxjs-compat in angular 6, error still exists

[2018-10-12 07:30] chulerias commented on #82
Hi @lukasz-galka , thanks for your gallery, it is really awesome.
I just wanted to know if you still plan to implement this feature.
Thanks a lot.

[2018-10-12 07:34] lukasz-galka commented on #82
Hi @chulerias some time ago I have started working on that, but now I don't remember how much I have done. I will try to check this branch and let you know. Lately I don't have time for this plugin ;/

[2018-10-12 08:02] chulerias commented on #82
Fair enough. Thanks for the good work though.

[2018-10-16 07:36] PaoloSalta opened #200 "Bug - Thumbnails methods"
I am currently trying to add images to the gallery when the thumbnails component reaches the edge. The problem is that the following methods
- canMoveThumbnailsLeft(): boolean - returns true if you can move thumbnails to left
- canMoveThumbnailsRight(): boolean - returns true if you can move thumbnails to right

do not return a boolean, but a void value.

[2018-10-16 15:58] dalavric opened #201 "Events not firing"
Hello I have a problem with the events. None of the events specified in readme work.

<ngx-gallery [options]="galleryOptions" [images]="galleryImages" (onNextClick)="nextClick()" (previewOpen)="onPrevOpen()"></ngx-gallery>

Do i need to do something else or this should be enough for them to get fired?

[2018-10-17 06:32] lukasz-galka commented on #29
@taghaniali this issue is closed, pls create the new one

[2018-10-18 21:34] tadkim commented on #161
is it possible to set style to each description?

ngx-gallery /deep/ .ngx-gallery-image-text {
  background: red;
 &:nth-of-type(1){ color: gold; }
 &:nth-of-type(2){ color: yellow; }
 &:nth-of-type(3){ color: green; }
//...
}

[2018-10-18 22:25] mmmatthew opened #202 "Certain images not displaying thumbnails"
I am using ngx-gallery to display images hotlinked from Wikimedia Commons. In certain cases, the images do not show (style is missing) even though the url is valid (e.g. it works for the large preview but not for the thumbnail).

To reproduce:
visit https://beta.water-fountains.org/zurich?lang=en&queryType=byId&database=wikidata&idval=Q27229903
The fountain has many images, but some are only visib

[2018-10-23 02:47] daichancorgi opened #203 "Thumbnail row and RemainingCount"
Thank you for great library.

So, I have problem.

This is my gallery options.
[code]

So if images are 8, I hope just 2 rows and no RemainingCount. But result is 2 rows (4col and 3 col) and RemainingCount + 1.

![ionic_app](https://user-images.githubusercontent.com/8821171/47331914-9829c180-d6b8-11e8-8b8a-841d9d0962db.jpg)

If images are 4, I hope just 1 row. But 2 rows, 2 col and 2 col.
![ionic_

[2018-10-23 06:57] bb1 commented on #149
@lukasz-galka It would be nice to have an option to inject any kind of element (Angular Component) and replace the default <img> Tag with it.
For example I need to display an PDF and it's gonna get quiet hacky to do this.

[2018-10-24 09:26] yanivps opened #204 "Show thumbnails at the bottom of the preview mode"
Hi! Thank you for this awesome library!

One thing would make it really perfect which is the ability to show the thumbnails also in the preview mode.
Can you consider supporting this feature or can someone please guide me how to achieve that?

Something like this:
![example](https://i.imgur.com/Lv3nWjt.png)

[2018-10-28 08:55] #198 closed

[2018-10-28 08:55] #191 closed

[2018-10-28 10:19] lukasz-galka commented on #200
@PaoloSalta fixed in `5.7.1`

[2018-10-28 10:19] #200 closed

[2018-10-28 10:51] lukasz-galka commented on #202
@mmmatthew fixed in `5.7.2`

[2018-10-28 11:12] lukasz-galka commented on #201
@dalavric events are listed here https://github.com/lukasz-galka/ngx-gallery#events there is no event `onNextClick`, but `previewOpen` should work

Let me know if you still have issues with events.

[2018-10-28 12:31] #177 closed

[2018-10-28 12:39] daichancorgi commented on #203
@lukasz-galka
Thank you for versioning up. It's perfect!!

[2018-10-28 12:43] #203 closed

[2018-10-28 14:51] #162 closed

[2018-10-28 15:12] lukasz-galka commented on #179
I've added additional validation in `5.7.4`

[2018-10-28 15:12] #179 closed

[2018-10-28 15:33] lukasz-galka commented on #110
fixed in `5.7.5`

[2018-10-28 15:33] #110 closed

[2018-10-28 16:04] lukasz-galka commented on #204
@yanivps unfortunately this is not possible right now, maybe I will add it but for sure not soon, I'm closing it because there already is a ticket with that https://github.com/lukasz-galka/ngx-gallery/issues/43

[2018-10-28 16:04] #204 closed

[2018-10-28 16:09] lukasz-galka commented on #199
Hi @wahyuen I think face detection is out of scope of this gallery.

[2018-10-28 16:12] #184 closed

[2018-10-29 16:59] #199 closed

[2018-10-30 14:37] ManPla opened #205 "PDF integration"
Is there any way to include a pdf in between images? What would you recommend how to do that?

[2018-10-30 17:56] lukasz-galka commented on #205
if you want to open a pdf file you can use `thumbnailsAsLinks` and set `url` in https://github.com/lukasz-galka/ngx-gallery#ngxgalleryimage

[2018-10-30 17:57] #202 closed

[2018-10-30 17:57] #201 closed

[2018-10-30 20:33] mmmatthew opened #206 "Hyperlinks in image description do not work"
My image descriptions have hyperlinks to refer to Licenses and Authors. However the links seem unclickable.

Example of issue:
visit https://beta.water-fountains.org/zurich?lang=de&queryType=byId&database=wikidata&idval=Q27230005

[2018-10-31 08:57] ManPla commented on #205
thanks a lot for your quick answer! this helps ...

[2018-10-31 14:29] ManPla commented on #205
Is something similar like previewsAsLinks available for preview images?

[2018-10-31 16:54] lukasz-galka commented on #205
@ManPla no

[2018-10-31 16:58] ManPla opened #207 "usemap and area tags for image and preview image"
Hi, is there any possibility to react in another way, when a user clicks the image or the preview image? We look for a possibility to integrate usemaps on the image/preview image and to open an external link by clicking the preview image. What would you suggest how to implement it? Thanks in advance for your help.

[2018-11-01 08:53] lukasz-galka commented on #207
@ManPla, so what do you need? Would you like to have an option to set usemap attribute on preview image or maybe just an option to wrap preview image with a link like described here https://github.com/lukasz-galka/ngx-gallery/issues/205 ?

[2018-11-01 08:53] #166 closed

[2018-11-01 09:13] lukasz-galka commented on #206
@mmmatthew fixed in `5.8.0`

[2018-11-01 09:13] #206 closed

[2018-11-01 09:14] lukasz-galka commented on #123
I've added `imageBullets` and `previewBullets` in `5.8.0`

[2018-11-01 09:14] #123 closed

[2018-11-01 11:20] lukasz-galka commented on #116
I've added new option `NgxGalleryOrder.Page` in `5.8.1`

[2018-11-01 11:20] #116 closed

[2018-11-01 17:45] chrishandorf opened #208 "Dynamically changing Gallery Width"
Template HTML:

<ngx-gallery *ngIf="galleryImages.length" [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>

Typescript:

Imagine a Toggle button on the screen that can change between two different sized image galleries.  This isn't my exact use case but it makes the point I am trying to make.

toggle() {  // dynamically change gallery width
  if (this.toggle) {
     this.galleryO

[2018-11-01 19:04] german-e-mas commented on #208
I'm not sure if this could help in this particular case, but I noticed that you need to change the array's reference in order to trigger changes (in Angular in general, not just this component).

So, if you have `[options]="galleryOptions"` in the template, do the following:

[code]

[2018-11-01 19:29] chrishandorf commented on #208
Thanks but in this case I don't think it will help because the current code detects changes in the images array but not the options array.

[2018-11-01 19:37] german-e-mas commented on #208
I imagined that as a response to a click in the toggle, for example. If you can detect whether you would _need_ to change the options manually (via an event or something), try that approach though.

I'm not sure what is the exact use case, but have you seen the breakpoint options?

[2018-11-01 19:49] chrishandorf commented on #208
Yes, I'm using the breakpoint options and if I resize the window the Gallery will honor the width value because the ngx-gallery breakpoint code calls this.setOptions() also (on line 106).  The usecase is routing to 2 different URLS in Angular such as /pictures/1 and /pictures/2 where the ngx-gallery width needs to be different depending on the ID shown.   Angular will reuse the ngx-gallery compone

[2018-11-01 20:59] chrishandorf commented on #208
On a related note, if you route from /pictures/1 to /pictures/2, go into Preview mode, and then press the back arrow button to go back to /pictures/1 the URL changes but the /pictures/2 Preview mode remains on the screen (component isn't destroyed because the URL still has /pictures in it).  An updated version of ngDoCheck() could be be something like this:

ngDoCheck() {
   if (this.previewEnable

[2018-11-07 11:27] Omi0 opened #209 "touch-action doesn't recognised by iOS"
Ups. Put in a wrong repository

[2018-11-07 11:47] #209 closed

[2018-11-09 15:00] ike18t commented on #147
I ran into this issue as well.  I have opened a PR with the fix: #210

[2018-11-10 13:09] Tharindu-Munasinghe opened #211 "Is it possible to hide thumbnails if only one image is in the list?"
Hi!

Thank you for this amazing component! I came across it just today, and it has helped me greatly.

I'm currently using it with dynamically generated posts in a web application.
Each post may or may not have images. I have hidden this component if there is no image attached to the post.

However, in the case of there being only one image attached to a post,
The thumbnail of said image is visibl